{% extends 'partials/page_table.html' %}

{% block redirect %}'/inventory/car'{% endblock %}
{% block clear_redirect %}href="{% url 'inventory-car'%}"{%endblock%}

{% block active-list %}href="{% url 'inventory-car'%}"{% endblock %}
{% block archive-list %}href="{% url 'inventory-car-archived' %}"{% endblock %}

{% block filter-url %}hx-get="{% url 'inventory-car' %}"{% endblock %}

{% block modals %}
  {% include 'partials/modal_add.html' %}
  {% include 'partials/modal_update.html' %}
  {% include 'partials/modal_confirm.html' %}
{% endblock %}