{% extends 'partials/inventory_base.html' %}
{% block title %}Product Page{% endblock %}
{% block header %} INVENTORY {% endblock %}
{% load crispy_forms_tags %}


{% block script %}

  {% if product_update %}
    $('#updateProductModal').modal('show');
  {% elif product_delete %}
    $('#deleteProductModal').modal('show');
  {% elif add_stock %}
    $('#addStockModal').modal('show');
  {% elif product_view %}
    $('#viewModal').modal('show');
  {% endif %}
  $('#viewModal,#updateProductModal,#deleteProductModal,#addStockModal').on('hidden.bs.modal', function () {
  window.location.replace('/inventory/product')
  });

{% endblock %}

{% block nav-filter %}
<div class="mx-2">
  <ul class="nav d-flex justify-content-start">
      <li class="nav-item">      
        <a class="nav-link" href="{% url 'inventory-product-all' %}"><span class="default-state-status {% if view.inventorystatus_active == 'all' or inventorystatus_active == 'all' %} navtab-status-active {% endif %}">ALL</span></a>
      </li>
      <li class="nav-item">      
          <a class="nav-link" href="{% url 'inventory-product-active'%}"><span class="default-state-status {% if view.inventorystatus_active == 'active' or inventorystatus_active == 'active' %} navtab-status-active {% endif %}">ACTIVE</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" href="{% url 'inventory-product-out' %}" ><span class="default-state-status {% if view.inventorystatus_active == 'out' or inventorystatus_active == 'out' %} navtab-status-active {% endif %}">OUT OF STOCK</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'inventory-product-archived' %}"><span class="default-state-status {% if view.inventorystatus_active == 'archived' or inventorystatus_active == 'archived' %} navtab-status-active {% endif %}">ARCHIVED</span></a>
      </li>
  </ul>         
</div>
{% endblock %}


{% block product-state %}navbar-active{% endblock %}

{% block filter-url %}hx-get="{% url 'inventory-product-search' %}"{% endblock %}


{% block filters %}
    <div class="col-mr-1">
      <div>
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
      </div>
    </div>
    {% comment %} <div class="col">
      <div class="dropdown">
          <select class="form-select" name="category-filter" aria-label="Category Filter">
              <option value="all">Filter by Category</option>
              {% for type in types%}
                <option value="{{ type }}" {% if selected == type %}selected{% endif %}>{{ type }}</option>
              {% endfor %}
          </select>
      </div>
    </div> {% endcomment %}
    <div class="col">
        <div class="dropdown">
            <select class="form-select" name="type-filter" aria-label="Product Type Filter">
                <option value="all">All Product Types</option>
                {% for type in types%}
                <option value="{{ type }}" {% if selected == type %}selected{% endif %}>{{ type }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col">
        <div class="dropdown">
            <select class="form-select" name="vendor-filter" aria-label="Brand Filter">
                <option value="all">All Vendors</option>
                {% for b in brands %}
                <option value="{{ b }}" {% if selected == b %}selected{% endif %}>{{ b }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endblock %}


{% block add-modal %}data-target="#addProductModal"{% endblock %}
{% block export-excel %}href="{% url 'exportproduct-excel' %}"{% endblock %}
{% block export-pdf %}href="{% url 'exportproduct-pdf' %}"{% endblock %}
{% include 'partials/modal_confirm.html' %}

{% block table %}

  {% include 'inventory/product_list.html' %}

{% endblock %}


{% block conditions %}

  {% if not product_delete %}
    {% include 'inventory/product_add.html' %} <!-- Modal ADD -->
    {% include 'inventory/product_update.html' %} <!-- Modal Update/Edit -->
    {% include 'inventory/add_stock.html' %} <!-- Modal Add Stock -->
    {% include 'inventory/product_view.html' %}
  {% else %}
    {% include 'inventory/product_delete.html' %} <!-- Modal Delete -->
  {% endif %}

{% endblock %}