{% extends 'partials/add_modal.html' %}
{% load crispy_forms_tags %}

{% block modal-id %} id="addProductModal" {% endblock %}
{% block modal-title %}Add Product{% endblock %}

{% block form %}
    {{ form.title|as_crispy_field }}
    {{ form.description|as_crispy_field }}
    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
        {{ form.vendor|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.product_type|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
            {{ form.tags|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
            {{ form.low_stock|as_crispy_field }}
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6 mb-0">
        {{ form.price|as_crispy_field }}
        </div>
        <div class="form-group col-md-6 mb-0">
        {{ form.sku|as_crispy_field }}
        </div>
    </div>
    {{ form.image|as_crispy_field }}
{% endblock %}

{% block btn-label%}Add Product{% endblock %}