{% extends 'partials/base.html' %}
{% block title %}Product Page{% endblock %}
{% block headers %} INVENTORY {% endblock %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load static %}

{% block content %}

    <style>
        body {
            background: #eef1f2;
            overflow-x: hidden;
        }
        .htmx-indicator {
            display: none;
        }
        .htmx-indicator.htmx-request {
            display: block;
        }
        .carousel-indicators li {
            display: flex;
            opacity: 0.8;
            border: solid;
        }
        .carousel-indicators li, .thumbnail{
            width: 90px;
            height: 70px;
        }
    </style>

    <script type="text/javascript" defer>
        $(window).on('load', function() {
            {% if view.modal == 'update' %}
                $('#updateModal').modal('show');
            {% endif %}

            $('.modal').on('hidden.bs.modal', function () {
                window.location.replace('/inventory/product')
            });
        });

    </script>

    <div style="margin-top: 64px;">

        <!-- NAVIGATION LAYER 2 -->
        <nav class="navbar navbar-expand-sm navbar-light bg-white mb-2">
        
            <div class="mx-4" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item mr-2">
                        <a class="nav-link" href="{% url 'inventory-product'%}"><span class="text-muted"><strong>PRODUCT</strong></span></a>
                    </li>

                    <li class="nav-item mr-2">
                        <a class="nav-link" href="{% url 'inventory-service'%}"><span class="text-muted"><strong>SERVICE</strong></span></a>
                    </li>
                    {% if request.user.is_staff %}
                        {% comment %} <li class="nav-item mr-2">
                            <a class="nav-link" href="{% url 'inventory-car'%}"><span class="text-muted"><strong>CAR</strong></span></a>
                        </li> {% endcomment %}

                        <li class="nav-item mr-2">
                            <a class="nav-link" href="{% url 'inventory-supplier'%}"><span class="text-muted"><strong>SUPPLIER</strong></span></a>
                        </li>

                        <li class="nav-item mr-2">
                            <a class="nav-link" href="{% url 'inventory-shipment'%}"><span class="text-muted"><strong>SHIPMENT</strong></span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        
        <div>
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} my-2" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% comment %} <div class="mx-2">
                <ul class="nav d-flex justify-content-start">
                    <li class="nav-item">      
                        <a class="nav-link" {% block active-list %} href="{% url 'inventory-shipment'%}" {% endblock %}><span class="text-muted"><strong>ACTIVE</strong></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" {% block archive-list %} href="{% url 'inventory-shipment-archived' %}" {% endblock %}><span class="text-muted">ARCHIVED</span></a>
                    </li>
                </ul>         
            </div> {% endcomment %}
            
            <div class="my-3 mx-4 d-flex">
                <form class="form-inline float-left" hx-get="{% url 'inventory-product' %}"
                    hx-target="#table-container" 
                    hx-swap="outerHTML"
                    hx-trigger="change, input delay:0.3s"
                    hx-indicator=".htmx-indicator">
                    <div class="d-flex justify-content-end">
                        {% comment %} {{ filter.form|crispy }} {% endcomment %}
                        {% comment %} <a class="btn btn-danger mx-2"{% block clear_redirect %}href=""{% endblock %}>Clear</a> {% endcomment %}
                        {% comment %} <input type="submit" value="Filter" class="btn btn-dark"> {% endcomment %}
                    </div>
                </form>
                {% if request.user.is_staff %}
                    <div class="col">
                        <div class="float-right">

                            <!-- Button trigger modal --> 
                            {% block add-btn %}                       
                                <span class="tooltips_top">
                                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#addModal">  
                                        <span class="tooltiptext_top"> Add </span>                        
                                        <img src="{% static 'images/icon_add.png' %}" style="width:15px; height:15px;" alt="Add">                        
                                    </button>
                                </span>
                            {% endblock %}

                            {% comment %} <span class="tooltips_top">
                                <div class="btn-group" style="width:auto">
                                    <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="tooltiptext_top"> Export </span>  
                                        <img src="{% static 'images/icon_download.png' %}" style="width:15px; height:15px;" alt="Download">
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" style="width:auto">
                                        {% for format in view.export_formats %}
                                            <a class="dropdown-item" href="{% export_url format %}">
                                                <code>.{{ format }}</code>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </span> {% endcomment %}
                        </div>
                    </div>    
                {% endif %} 
            </div>
        </div>

        <div id="item-list">
            <div class="mx-4">
                {% render_table table %}
            </div>
        </div>
    </div>

    {% block modals %}{% endblock %}
    
{% endblock %}