{% extends 'partials/page_table.html' %}

{% block redirect %}'/inventory/service/archived'{% endblock %}
{% block clear_redirect %}href="{% url 'inventory-service-archived'%}"{%endblock%}

{% block active-list %}href="{% url 'inventory-service'%}"{% endblock %}
{% block archive-list %}href="{% url 'inventory-service-archived' %}"{% endblock %}

{% block filter-url %}hx-get="{% url 'inventory-service-archived' %}"{% endblock %}
{% block add-btn %}{% endblock %}

{% block modals %}
  {% include 'partials/modal_confirm.html' %}
{% endblock %}