{% extends 'partials/base.html' %}
{% block title %}Home Page{% endblock %}
{% block headers %} DASHBOARD {% endblock %}
{% load static %}

{% block content %}
    <div class="text-black dark:white">
        <div class="animate fade-animator delay-1 bg-[#FF8A00] overflow-hidden w-full rounded-[20px] h-[700px] flex flex-col text-center justify-center items-center font-sans">
            <div class="z-[0] w-full h-[100vh] cover" style="opacity:0.1;background-image:url('/static/images/bulsu_logo.png');background-size:cover; background-position: center;"></div>
            <div class="z-[1] absolute">
                <p class="text-[82px] tracking-[-2px] font-bold text-white">Get Started</p>
                <p class="text-[18px] w-[570px] ml-[18%] leading-[1] mt-[-25px] text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                <div class="grid grid-cols-2 gap-2 mt-[5vh]">
                    <div class="navigatorBlock bg-[#ffffff] dark:bg-[#363636a8]">
                        <p class="title animate glow delay-6">Get Started</p>
                        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                    </div>
                    <div class="navigatorBlock bg-[#ffffff] dark:bg-[#363636a8]">
                        <p class="title animate glow delay-7">Faculty Management</p>
                        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                    </div>
                    <div class="navigatorBlock bg-[#ffffff] dark:bg-[#363636a8]">
                        <p class="title animate glow delay-8">Research and Extensions</p>
                        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                    </div>
                    <div class="navigatorBlock bg-[#ffffff] dark:bg-[#363636a8]">
                        <p class="title animate glow delay-9">Post and Announcements</p>
                        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="animate fade-animator delay-3 grid grid-cols-[45fr_55fr] mt-3 h-[50vh]">
            <div class="p-10 mt-[5vh] ml-[2vw]">
                <h1 class="text-[66px]">Meow?</h1>
                <p class="text-md w-[499px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                <div class="ml-[-1.4vw] mt-[5vh]">
                    <div class="dropdownBlock bg-[rgba(200,200,200,0.2)] dark:bg-[#363636] flex items-center justify-between">
                        <div class="flex flex-col items-center">
                            <p class="title">Just Meow and Meow</p>
                            <p class="subtitle text-black dark:text-white">You never know when you’ll meow</p>
                        </div>
                        <img src="{% static 'images/arrow.png' %}" class="h-[20px] invert"/>
                    </div>
                </div>
            </div>
            <div class="rounded-[29px] text-[200px] text-[#FF9214] flex justify-center items-center" style="border: 1px solid rgba(255, 168, 0, 0.28)">
                AAAA
            </div>
        </div>
    </div>
{% endblock %}