{% extends 'partials/base.html' %}
{% block title %}Home Page{% endblock %}
{% block headers %} DASHBOARD {% endblock %}
{% load static %}

{% block content %}
    <div >
        <div class="bg-[#FF8A00] overflow-hidden w-full rounded-[20px] h-[700px] flex flex-col text-center justify-center items-center text-white font-sans">
            <div class="z-[0] w-full h-[100vh] cover" style="opacity:0.1;background-image:url('/static/images/bulsu_logo.png');background-size:cover; background-position: center;"></div>
            <div class="z-[1] absolute">
                <p class="text-[82px] tracking-[-2px] font-bold">Get Started</p>
                <p class="text-[18px] w-[570px] ml-[18%] leading-[1] mt-[-25px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                <div class="grid grid-cols-2 gap-2 mt-[5vh]">
                    <div class="navigatorBlock">
                        <p class="title">Get Started</p>
                        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                    </div>
                    <div class="navigatorBlock">
                        <p class="title">Faculty Management</p>
                        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                    </div>
                    <div class="navigatorBlock">
                        <p class="title">Research and Extensions</p>
                        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                    </div>
                    <div class="navigatorBlock">
                        <p class="title">Post and Announcements</p>
                        <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}