{% extends "main.html" %}


{% block title %}
    View Announcements
{% endblock %}


{% block content %}

        <a href="./add_announcements">Post Announcement</a>
        {% if user_type == 'extensioncoor' %}
            <table>
                <thead>
                    <th>ID</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Date Created</th>
                    <th>Image Cover</th>
                    <th>Link</th>

                    <th>Event_date</th>
                    <th>Agenda</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for e in announcements2 %}
                    <tr>
                        <td>{{ e.reference_id.id }}</td>
                        <td>{{ e.reference_id.subject }}</td>
                        <td>{{ e.reference_id.description }}</td>
                        <td>{{ e.reference_id.date_created }}</td>
                        <td><img style="max-height: 50px; max-width: 100px;" src="../../media/{{e.reference_id.image}}" alt=""></td>

                        <td>{{ e.email }}</td>
                        <td>{{ e.event_date }}</td>
                        <td>{{ e.agenda }}</td>
                        <td>
                            <a href="./update/{{e.reference_id.pk}}">Update</a>
                            <a href="./delete/{{e.reference_id.pk}}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif user_type == 'depthead' %}
            <table>
                <thead>
                    <th>ID</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Date Created</th>
                    <th>Image Cover</th>
                    <th>Link</th>

                    <th>Agenda</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for e in announcements2 %}
                    <tr>
                        <td>{{ e.reference_id.id }}</td>
                        <td>{{ e.reference_id.subject }}</td>
                        <td>{{ e.reference_id.description }}</td>
                        <td>{{ e.reference_id.date_created }}</td>
                        <td><img style="max-height: 50px; max-width: 100px;" src="../../media/{{e.reference_id.image}}" alt=""></td>
                        <td>{{ e.reference_id.link }}</td>

                        <td>{{ e.agenda }}</td>
                        <td>
                            <a href="./update/{{e.reference_id.id}}">Update</a>
                            <a href="./delete/{{e.reference_id.id}}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif user_type == 'researchcoor' %}
            <table>
                <thead>
                    <th>ID</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Date Created</th>
                    <th>Image Cover</th>
                    <th>Link</th>

                    <th>Deadline Start</th>
                    <th>Deadline End</th>
                    <th>Agenda</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for e in announcements2 %}
                    <tr>
                        <td>{{ e.reference_id.id }}</td>
                        <td>{{ e.reference_id.subject }}</td>
                        <td>{{ e.reference_id.description }}</td>
                        <td>{{ e.reference_id.date_created }}</td>
                        <td><img style="max-height: 50px; max-width: 100px;" src="../../media/{{e.reference_id.image}}" alt="e.reference_id.image"></td>
                        <td>{{ e.reference_id.link }}</td>
                        
                        <td>{{ e.deadline_start }}</td>
                        <td>{{ e.deadline_end }}</td>
                        <td>{{ e.agenda }}</td>

                        <td>
                            <a href="./update/{{e.reference_id.id}}">Update</a>
                            <a href="./delete/{{e.reference_id.id}}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <table>
                <thead>
                    <th>ID</th>
                    <th>Posted by</th>
                    <th>Agenda</th>
                    <th>User Type</th>
                    <th>E-mail</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Date Created</th>
                    <th>Image Cover</th>
                    <th>Link</th>
                </thead>
                <tbody>
                    {% comment %} ExtensionCoor {% endcomment %}
                    {% for e in vext %}
                        <tr>
                            <td>{{ e.reference_id.id }}</td>
                            <td>{{ e.reference_id.user_id.last_name}}, {{ e.reference_id.user_id.first_name}}</td>
                            <td>{{ e.agenda }}</td>
                            <td>{{ e.reference_id.user_type }}</td>
                            <td>{{ e.reference_id.user_id.email}}</td>
                            <td>{{ e.reference_id.subject }}</td>
                            <td>{{ e.reference_id.description }}</td>
                            <td>{{ e.reference_id.date_created }}</td>
                            <td><img style="max-height: 50px; max-width: 100px;" src="../../media/{{e.reference_id.image}}" alt="e.reference_id.image"></td>
                            <td>{{ e.reference_id.link }}</td>
                        </tr>
                    {% endfor %}
    
                    {% comment %} DepartmentHead {% endcomment %}
                    {% for e in dpt %}
                        <tr>
                            <td>{{ e.reference_id.id }}</td>
                            <td>{{ e.reference_id.user_id.last_name}}, {{ e.reference_id.user_id.first_name}}</td>
                            <td>{{ e.agenda }}</td>
                            <td>{{ e.reference_id.user_type }}</td>
                            <td>{{ e.reference_id.user_id.email}}</td>
                            <td>{{ e.reference_id.subject }}</td>
                            <td>{{ e.reference_id.description }}</td>
                            <td>{{ e.reference_id.date_created }}</td>
                            <td><img style="max-height: 50px; max-width: 100px;" src="../../media/{{e.reference_id.image}}" alt="e.reference_id.image"></td>
                            <td>{{ e.reference_id.link }}</td>
                        </tr>
                    {% endfor %}
    
                    {% comment %} ResearchCoord {% endcomment %}
                    {% for e in rsh %}
                        <tr>
                            <td>{{ e.reference_id.id }}</td>
                            <td>{{ e.reference_id.user_id.last_name}}, {{ e.reference_id.user_id.first_name}}</td>
                            <td>{{ e.agenda }}</td>
                            <td>{{ e.reference_id.user_type }}</td>
                            <td>{{ e.reference_id.user_id.email}}</td>
                            <td>{{ e.reference_id.subject }}</td>
                            <td>{{ e.reference_id.description }}</td>
                            <td>{{ e.reference_id.date_created }}</td>
                            <td><img style="max-height: 50px; max-width: 100px;" src="../../media/{{e.reference_id.image}}" alt="e.reference_id.image"></td>
                            <td>{{ e.reference_id.link }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        {% endif %}


    
{% endblock %}