{% extends "main.html" %}


{% block title %}
    View Announcements
{% endblock %}


{% block content %}
    {% if user_type != "faculty" %}

    <a href="./add_announcements">Post Announcement</a>
        {% if user_type == 'extensioncoor' %}
            <p>Extension Coord.</p>
            <table>
                <thead>
                    <th>ID</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Date Created</th>
                    <th>Image Cover</th>
                    <th>Link</th>

                    <th>Issued_by</th>
                    <th>Extension Address</th>
                    <th>Email</th>
                    <th>Event_date</th>
                    <th>Agenda</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    {% for e in announcements2 %}
                    <tr>
                        <td>{{ e.reference_id.id }}</td>
                        <td>{{ e.reference_id.subject }}</td>
                        <td>{{ e.reference_id.description }}</td>
                        <td>{{ e.reference_id.date_created }}</td>
                        <td><img style="max-height: 50px; max-width: 100px;" src="../../media/{{e.reference_id.image}}" alt=""></td>
                        <td>{{ e.reference_id.link }}</td>
                        <td>{{ e.extension_address }}</td>
                        <td>{{ e.issued_by }}</td>
                        <td>{{ e.email }}</td>
                        <td>{{ e.event_date }}</td>
                        <td>{{ e.agenda }}</td>
                        <td>
                            <a href="./update/{{e.reference_id.pk}}">Update</a>
                            <a href="./delete/{{e.reference_id.pk}}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif user_type == 'depthead' %}
            <p>Department Head</p>
            <table>
                <thead>
                    <th>ID</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Date Created</th>
                    <th>Image Cover</th>
                    <th>Link</th>

                    <th>issued_by</th>
                    <th>agenda</th>
                </thead>
                <tbody>
                    {% for e in announcements2 %}
                    <tr>
                        <td>{{ e.reference_id.id }}</td>
                        <td>{{ e.reference_id.subject }}</td>
                        <td>{{ e.reference_id.description }}</td>
                        <td>{{ e.reference_id.date_created }}</td>
                        <td><img style="max-height: 50px; max-width: 100px;" src="../../media/{{e.reference_id.image}}" alt=""></td>
                        <td>{{ e.reference_id.link }}</td>

                        <td>{{ e.issued_by }}</td>
                        <td>{{ e.agenda }}</td>
                        <td>
                            <a href="./update/{{e.reference_id.id}}">Update</a>
                            <a href="./delete/{{e.reference_id.id}}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% elif user_type == 'researchcoor' %}
            <p>Research Coord.</p>
            <table>
                <thead>
                    <th>ID</th>
                    <th>Subject</th>
                    <th>Description</th>
                    <th>Date Created</th>
                    <th>Image Cover</th>
                    <th>Link</th>

                    <th>Issued By</th>
                    <th>Deadline Start</th>
                    <th>Deadline End</th>
                    <th>Agenda</th>
                </thead>
                <tbody>
                    {% for e in announcements2 %}
                    <tr>
                        <td>{{ e.reference_id.id }}</td>
                        <td>{{ e.reference_id.subject }}</td>
                        <td>{{ e.reference_id.description }}</td>
                        <td>{{ e.reference_id.date_created }}</td>
                        <td><img style="max-height: 50px; max-width: 100px;" src="../../media/{{e.reference_id.image}}" alt="e.reference_id.image"></td>
                        <td>{{ e.reference_id.link }}</td>
                        
                        <td>{{ e.issued_by }}</td>
                        <td>{{ e.deadline_start }}</td>
                        <td>{{ e.deadline_end }}</td>
                        <td>{{ e.agenda }}</td>

                        <td>
                            <a href="./update/{{e.reference_id.id}}">Update</a>
                            <a href="./delete/{{e.reference_id.id}}">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    {% else %}
        <p>Nothing to see here...</p>
    {% endif %}
    

    
{% endblock %}