{% extends "main.html" %}


{% block title %}
    View Announcements
{% endblock %}


{% block content %}
    {% if user_type != "faculty" %}
        <table>
            <thead>
                <th>ID</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Date of Announcement</th>
                <th>Image</th>
                <th>Links</th>
                <th>Links</th>
                <th>
                    Actions
                </th>
            </thead>
            <tbody>
                {% for e in announcements %}
                    <tr>
                        <td>{{ e.id }}</td>
                        <td>{{ e.subject }}</td>
                        <td>{{ e.description }}</td>
                        <td>{{ e.date_created }}</td>
                        <td><img src="../../media/{{e.image}}" alt=""></td>
                        <td>{{ e.link }}</td>
                        <td>{{ e.user_type }}</td>
                        <td>
                            <a href="./update/{{e.id}}">Update</a>
                            <a href="./delete/{{e.id}}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>


        {% if user_type == 'extensioncoor' %}
            <p>Extension Coord.</p>
            <table>
                <thead>
                    <th>issued_by</th>
                    <th>extension_address</th>
                    <th>email</th>
                    <th>event_date</th>
                    <th>agenda</th>
                </thead>
                <tbody>
                    {% for e in announcements2 %}
                        <td>{{ e.issued_by }}</td>
                        <td>{{ e.extension_address }}</td>
                        <td>{{ e.email }}</td>
                        <td>{{ e.event_date }}</td>
                        <td>{{ e.agenda }}</td>
                    {% endfor %}
                </tbody>
            </table>
        {% elif user_type == 'depthead' %}
            <p>Department Head</p>
            <table>
                <thead>
                    <th>issued_by</th>
                    <th>agenda</th>
                </thead>
                <tbody>
                    {% for e in announcements2 %}
                        <td>{{ e.issued_by }}</td>
                        <td>{{ e.agenda }}</td>
                    {% endfor %}
                </tbody>
            </table>
        {% elif user_type == 'researchcoor' %}
            <p>Research Coord.</p>
            <table>
                <thead>
                    <th>issued_by</th>
                    <th>extension_address</th>
                    <th>email</th>
                    <th>event_date</th>
                    <th>agenda</th>
                </thead>
                <tbody>
                    {% for e in announcements2 %}
                        <td>{{ e.issued_by }}</td>
                        <td>{{ e.extension_address }}</td>
                        <td>{{ e.email }}</td>
                        <td>{{ e.event_date }}</td>
                        <td>{{ e.agenda }}</td>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

    {% else %}
        <p>Nothing to see here...</p>
    {% endif %}
    
{% endblock %}