{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="{{theme}}">
    {% if not ajax %}
    <head>
        <!-- TAILWIND CSS -->
        {% tailwind_css %}

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

        <!--FontAwesome CDN-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
            integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

        <!--Chartjs CDN-->
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

        <!-- HTMX -->
        <script src="{% static 'js/htmx.min.js' %}" defer></script>

        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap" rel="stylesheet">

        <!--<link rel="stylesheet" href="{% static 'css/home.css' %}" media="screen" />-->

        <link rel="stylesheet" href="{% static 'scss/style.css' %}" media="screen" />
        <link rel="stylesheet" href="{% static 'css/animations.css' %}" />
        <link rel="stylesheet" href="{% static 'css/overrides.css' %}" />
        <link rel="SHORTCUT ICON" href="{% static 'images/logo.png' %}" media="screen" />

        <title>FacMaSys - {% block title %}{% endblock %}</title>
        <!-- jQuery and Bootstrap (includes Popper) -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    </head>
    {% endif %}

    {% if not ajax %}<body id="body-pd" class="transition-all dark:bg-[#2A2A2A]" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>{% endif %}
        <div class="{% if not ajax and user.is_authenticated %}grid grid-cols-[100px_90fr]{% endif %}">
            {% if not ajax %}
                <div>
                    {% include 'partials/sidebar.html' %}
                </div>
            <!-- LOGOUT MODAL -->
            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalTitle" aria-hidden="false">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content dark:white bg-[rgba(255,255,255,0.9)] dark:bg-[rgba(48,48,48,0.9)]">
                        
                        <div class="modal-header dark:border-[rgba(112,112,112,0.9)]">
                            <h5 class="modal-title" id="logoutModalLongTitle">Logout Confirmation</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="dark:white">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body dark:border-[rgba(112,112,112,0.9)]">
                            <div class="">
                                <h6>Are you sure you want to Log out?</h6>
                            </div>
                        </div>

                        <div class="modal-footer dark:border-[rgba(112,112,112,0.9)]">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"> Cancel </button>
                            <button onclick="window.location.href = '/user/logout'"" class="btn btn-danger" href="{% url 'user-logout' %}"> Logout </button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            
            <div class="z-[200]">
                {% if not ajax %}
                <div class="relative">
                    <div id="header" class="transition-all z-[200] px-[4vw] justify-between items-center top-5 flex gap-2 fixed" style="width:93vw">
                        <div class=" dark:text-white dark:white leading-[0] flex translate-y-[10px]">
                            <a id="left-logo" href="{% url 'index' %}" class="transition-all translate-x-[-2vw] translate-y-[-10px] hidden hover:border hover:border-white flex justify-center w-[40px]">
                                <img src="{% static '/images/logo.png' %}" style="width: auto; height: 40px;" alt="Search Icon">
                            </a>
                            <div>
                                <h3 id="page_title_body" class="transition-all duration-75 font-semibold">BulSU CICT Faculty</h3>
                                <p id="page_title_body_sub" class="transition-all text-[10px] mt-[-1px]">Lorem ipsum dolor sit amet, consectetur adipiscing elit, </p>
                            </div>
                        </div>
                        <a href="{% url 'index' %}" id="center-logo" class="transition-all translate-x-[-2vw] hover:border hover:border-white flex justify-center w-[60px]">
                            <img src="{% static '/images/logo.png' %}" style="width: 60px; height: auto;" alt="Search Icon">
                        </a>
                        <div class="flex justify-end gap-2 items-center">
                            {% if request.user.is_authenticated %}
                            <div class="">
                                <button class="mr-[2px] dark:invert-0 invert" type="button" >
                                    <img src="{% static '/images/search.png' %}" style="width: 32px; height: 32px;" alt="Search Icon">
                                </button>
                                <button class="mr-[2px] dark:invert-0 invert" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="{% static '/images/icon_notification.png' %}" style="width: 32px; height: 32px;" alt="Notif Icon">
                                </button>
                                <div class="dropdown-menu dropdown-menu-right p-3" style="width: 500px;">
                                    <div class="row"> 
                                        <div class="col" style="font-weight:700;"> NOTIFICATIONS</div>
                                        <div class="col d-flex justify-content-end pb-1" style="color: #173f7a;">
                                            <a style="text-decoration:none;" href="{% url 'notif-delete-all' %}"> Mark all as Read...</a>
                                        </div>
            
                                    </div>
            
                                    {% if notifications %}
                                    <table class="table table-hover p-2">
                                        {% for notif in notifications %}
                                        <tr class="pb-2">                                   
                                            <td> {{ notif.message }} </td>
                                            <td> <a href="{% url 'notif-delete' notif.id %}">
                                                <button type="button" class="close" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                </a>
                                            </td>                                   
                                        </tr>
                                        {% endfor %} 
                                    </table>
                                    {% else %}
                                    <table class="table p-2">
                                        <tr><td colspan="4" class="text-center"><h6 class="my-2">  
                                        <span class="text-muted" style="font-weight: 600;"><em>NO ACTIVE NOTIFICATION...</em></span>  </h6></td></tr>
                                    </table>
                                    {% endif %}
                                        
                                                                
                                                                                                                                                
                                </div>
                            </div>
                            {% endif %}
            
                            {% if request.user.is_authenticated %}
                            <!-- PROFILE ICON -->
                            <div class="transition">
                                <button class="transition bg-white hover:opacity-[0.5] rounded-md border border-[rgba(200,200,200,0.5)] flex gap-2 p-1 px-2 items-center" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div style="background-image: url('{{ user.profile.image.url }}');height:30px; width:30px;background-size:cover;border-radius: 10px;border: 1px solid rgba(85, 85, 85, 0.553)"></div>
                                    <div class="text-md">{{ request.user.first_name }} {{ request.user.last_name.0 }}.</div>
                                    <img src="{% static 'images/arrow.png' %}" class="h-[15px]"/>
                                </button>
            
                                <div class="dropdown-menu dropdown-menu-right p-3" style="max-width: 250px;">
                                    
                                    <div class="d-flex flex-row" style="width: 250px;">
                                        <div class="px-3">
                                            <img src="{{ user.profile.image.url }}" class="rounded-circle" style="width: 30px; height: 30px;" alt="Staff Icon">
                                        </div>
                                        <div class="">
                                            <h6 class="mb-0"><strong> {{ request.user.profile.user_role|upper }}: </strong></h6>
                                            <input type="text" readonly class="form-control-plaintext text-black py-0 mt-0 mb-0" id="staticEmail" value="{{ request.user.username }}">
                                        </div>             
                                    </div>
            
                                    <div class="dropdown-divider"></div>                                                       
                                    <a class="dropdown-item grid grid-flow-col" href="{% url 'user-profile' %}">
                                        <img class="mb-1 inline-block" src="{% static 'images/icon_view_profile_inverted.png' %}" style="width: 15px; height: 15px;" alt="View Profile"> 
                                        &nbsp; &nbsp; &nbsp; View Profile
                                    </a>
                                    <button type="button" class="dropdown-item grid grid-flow-col" data-toggle="modal" data-target="#logoutModal">
                                        <img class="mb-1 inline-block" src="{% static 'images/icon_logout_inverted.png' %}" style="width: 15px; height: 15px;" alt="Logout"> &nbsp; &nbsp; &nbsp; Logout 
                                    </button>
                                </div>
                                <!--<a href="{% url 'user-profile' %}" class="btn btn-primary"></a>-->
                            </div>
                            {% else %}
                                <div class="flex items-center gap-4">
                                    <p style="transform:translateY(10px) !important" value="Toggle Dark/Light Mode" class="animate glow delay-7 themeToggler sidebarItem cursor-pointer dark:white no-underline grid grid-flow-col gap-2 items-center place-items-center justify-center hover:sidebarItemActive" id="text_link">                                                                                    
                                        <img src="{% static 'images/light.svg' %}" style="height: 30px; width:auto" class="dark:invert"/>                   
                                        <span class="cursor-pointer">Toggle</span>
                                    </p>
                                    <a href="{% url 'user-login' %}" class="no-underline">
                                        <button class="transition bg-white hover:opacity-[0.5] rounded-md border border-[rgba(200,200,200,0.5)] flex gap-2 p-1 px-2 items-center" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <div class="text-md no-underline text-black">Sign In</div>
                                        </button>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="p-4 transition-all" id="main-body">
                    {% block content %}
                
                    {% endblock %}
                </div>
            </div>
        </div>
        {% if not ajax %}
        
        <script type="text/javascript" defer
        src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" crossorigin="anonymous"></script>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js" crossorigin="anonymous"></script>
        
        <script src="{% static 'js/sidebar.js' %}"></script>
        
        {% endif %}
    {% if not ajax %}</body>{% endif %}
</html>