{% load crispy_forms_tags %}
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="font-sans modal-title" id="addModalLabel">Add {{ view.label }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="POST" {% block action %} {% endblock %} enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                        {{ form|crispy }}
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Add {{ view.label }}</button>
                </div>
            </form>       
        </div>
    </div>
</div>