{% load static %}
<!--  SIDE BAR -->
<div class="fixed h-full px-2 py-4 ">
    <nav class="">
      <div class="">          
        <div class="flex flex-col h-[100vh] pb-[5vh] justify-between gap-2"> 
            <div class="grid justify-center grid-flow-row gap-3"> 
                <img class="w-12 h-12 mx-auto" src="{% static 'images/logo.png' %}"  alt="Dashboard">   
                <div class="absolute transition-all sidebarItemActive" id="nav-highlighter" style="height:75px;width:75px;transform: translateX(2px)"></div>
                
                <a value="Home" href="{% url 'index' %}" class="animate glow delay-2 sidebarItem selection:text-white no-underline grid items-center place-items-center justify-center {% if state == 'dashboard' %}selected-from-url{% endif %} hover:sidebarItemActive" id="text_link">                                                                                    
                    <img class="invert dark:invert-0" style="width:36px; height:36px;" src="{% static 'images/icon-nav_home.svg' %}" id="tooltip_img" alt="Dashboard">                                               
                    <span class="mt-1 font-sans text-xs text-black dark:white">Home</span>                      
                </a>

                <a value="Dashboard" href="{% url 'dashboard-index' %}" class="animate glow delay-2 sidebarItem selection:text-white no-underline grid items-center place-items-center justify-center {% if state == 'dashboard' %}selected-from-url{% endif %} hover:sidebarItemActive" id="text_link">                                                                                    
                    <img class="invert dark:invert-0" style="width:36px; height:36px;" src="{% static 'images/icon-nav_dashboard.svg' %}" id="tooltip_img" alt="Dashboard">                                               
                    <span class="mt-1 font-sans text-xs text-black dark:white">Dashboard</span>                      
                </a>
                <a value="Feed" href="{% url 'feed-index' %}" class="animate glow delay-3 sidebarItem text-white no-underline grid items-center place-items-center justify-center {% if state == 'feed' %}selected-from-url{% endif %} hover:sidebarItemActive" id="text_link">                                                                                    
                    <img class="invert dark:invert-0" style="width:36px; height:36px;" src="{% static 'images/icon-nav_feed.svg' %}" id="tooltip_img" alt="Dashboard">                                               
                    <span class="mt-1 font-sans text-xs text-black dark:white">Feed</span>                      
                </a>
                {% if request.user.profile.user_role == 'depthead' or request.user.is_superuser %}
                <a value="Faculty" href="{% url 'faculty-index' %}" class="animate glow delay-4 sidebarItem text-white no-underline grid items-center place-items-center justify-center {% if state == 'faculty' %}selected-from-url{% endif %} hover:sidebarItemActive" id="text_link">                                                                                    
                    <img class="invert dark:invert-0" style="width:36px; height:36px;" src="{% static 'images/icon-nav_faculty.svg' %}" id="tooltip_img" alt="Dashboard">                                               
                    <span class="mt-1 font-sans text-xs text-black dark:white">Faculty</span>                      
                </a>
                {% endif %}
                <a value="Researches" href="{% url 'researches-index' %}" class="animate glow delay-4 sidebarItem text-white no-underline grid items-center place-items-center justify-center {% if state == 'researches' %}selected-from-url{% endif %} hover:sidebarItemActive" id="text_link">                                                                                    
                    <img class="invert dark:invert-0" style="width:36px; height:36px;" src="{% static 'images/icon-nav_research.svg' %}" id="tooltip_img" alt="Dashboard">                                               
                    <span class="mt-1 font-sans text-xs text-black dark:white">Researches</span>                      
                </a>
                <a value="Subjects" href="{% url 'subjects-index' %}" class="animate glow delay-5 sidebarItem text-white no-underline grid items-center place-items-center justify-center {% if state == 'subjects' %}selected-from-url{% endif %} hover:sidebarItemActive" id="text_link">                                                                                    
                    <img class="invert dark:invert-0" style="width:36px; height:36px;" src="{% static 'images/icon-nav_subject.svg' %}" id="tooltip_img" alt="Dashboard">                                               
                    <span class="mt-1 font-sans text-xs text-black dark:white">Subjects</span>                      
                </a>
                <a value="Extension" href="{% url 'extension_services-index' %}" class="animate glow delay-5 sidebarItem text-white no-underline grid items-center place-items-center justify-center {% if state == 'extension_services' %}selected-from-url{% endif %} hover:sidebarItemActive" id="text_link">                                                                                    
                    <img class="invert dark:invert-0" style="width:36px; height:36px;" src="{% static 'images/icon-nav_extension.svg' %}" id="tooltip_img" alt="Dashboard">                                               
                    <span class="mt-1 font-sans text-xs text-black dark:white">Extension</span>                      
                </a>
            </div>
            <div>

                <p value="Toggle Dark/Light Mode" class="grid items-center justify-center text-white no-underline animate glow delay-7 themeToggler sidebarItem place-items-center hover:sidebarItemActive" id="text_link">                                                                                    
                    <img src="{% static 'images/light.svg' %}" style="height: 36px; width:auto" class="dark:invert"/>                   
                </p>
                <p value="Logout" data-toggle="modal" data-target="#logoutModal" class="animate glow delay-5 sidebarItem text-white no-underline grid items-center place-items-center justify-center {% if state == 'subjects' %}selected-from-url{% endif %} hover:sidebarItemActive" id="text_link">                                                                                    
                    <img class="invert dark:invert-0" style="width:36px; height:36px;" src="{% static 'images/icon-nav_logout.svg' %}" id="tooltip_img" alt="Dashboard">                                                                  
                </p>
            </div>
        </div>
      </div> 
  </nav>    
</div>