{% extends "main.html" %}


{% block title %}
    Add Subjects
{% endblock %}


{% block content %}

    {% if all_subjects|length > 0 %}
    <table>
        <thead>
            <th>course_code</th>
            <th>course_title</th>
            <th>course_credits</th>
            <th>semester</th>
            <th>year</th>
            <th>course_lec_units</th>
            <th>course_lab_units</th>
            <th>course_hours_per_week</th>
            <th>specialization</th>
            <th>pre_requisite</th>
            <th>course_type</th>
            <th>
                Actions
            </th>
        </thead>

        <tbody>
            {% for e in all_subjects %}
            <tr>
                <td>{{ e.course_code }} </td>
                <td>{{ e.course_title }} </td>
                <td>{{ e.course_credits }} </td>
                <td>{{ e.semester }} </td>
                <td>{{ e.year }} </td>
                <td>{{ e.course_lec_units }} </td>
                <td>{{ e.course_lab_units }} </td>
                <td>{{ e.course_hours_per_week }} </td>
                <td>{{ e.specialization }} </td>
                <td>{{ e.pre_requisite }} </td>
                <td>{{ e.course_type }} </td>
                <td>
                    <a href="./update_subject/{{e.id}}">Update</a>
                    <a href="./delete_subject/{{e.id}}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h1>No data available.</h1>
    {% endif %}
{% endblock %}