{% extends 'partials/base.html' %}
{% block title %}Add Subjects{% endblock %}
{% block headers %} DASHBOARD {% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <div class="mt-[10vh] dark:white w-full">
            <div style="margin-bottom:2vh" class="animate fade-animator delay-1 bg-[#FF8A00] overflow-hidden w-full rounded-[20px] h-[240px] flex flex-col text-center justify-center items-center font-sans">
                <div class="z-[0] w-full h-[30vh] cover" style="opacity:0.1;background-image:url('/static/images/bulsu_logo.png');background-size:cover; background-position: center;"></div>
                <div class="z-[1] absolute">
                    <p class="font-sans text-[82px] tracking-[-2px] font-bold text-white">College / <span class="font-normal">Subjects</span></p>
                </div>
            </div>
            <a href="./add_subject">Add Subjects</a>
            {% if all_subjects|length > 0 %}
            <table class="table">
                <thead>
                    <th>Course Code</th>
                    <th>Course Title</th>
                    <th>Credits</th>
                    <th>Semester</th>
                    <th>Year</th>
                    <th>LEC Units</th>
                    <th>Lab Units</th>
                    <th>Hours per Week</th>
                    <th>Specialization</th>
                    <th>Pre-requisite</th>
                    <th>Course Type</th>
                    <th>
                        Actions
                    </th>
                </thead>
                <tbody>
                    {% for e in all_subjects %}
                    <tr>
                        <td>{{ e.course_code }} </td>
                        <td>{{ e.course_title }} </td>
                        <td>{{ e.course_credits }} </td>
                        <td>{{ e.semester }} </td>
                        <td>{{ e.year }} </td>
                        <td>{{ e.course_lec_units }} </td>
                        <td>{{ e.course_lab_units }} </td>
                        <td>{{ e.course_hours_per_week }} </td>
                        <td>{{ e.specialization }} </td>
                        <td>{{ e.pre_requisite }} </td>
                        <td>{{ e.course_type }} </td>
                        <td>
                            <button onclick="window.location.href='update_subject/{{e.id}}'">Update</a>
                            <button onclick="window.location.href='update_subject/{{e.id}}'">Update</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <h1>No data available.</h1>
            {% endif %}
        </div>
    </div>
    {% endif %}
{% endblock %}