{% extends "main.html" %}


{% block title %}
    Faculty Member - Subject Taught
{% endblock %}


{% block content %}    
<div class="grid items-start gap-5">
    {% if all_subjects|length > 0 %}
        <table id="nest-parent">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Course Title</th>
                    <th>Credits</th>
                    <th>Semester</th>
                    <th>Year>
                    <th>Course LEC Units</th>
                    <th>Lab Units</th>
                    <th>Hours per Week</th>
                    <th>Specialization</th>
                    <th>Pre-requisite</th>
                    <th>Course Type</th>
                </tr>
            </thead>
            <tbody>
                {% for subject in all_subjects %}
                    <tr>
                        <td>{{ subject.course_code }}</td>
                        <td>{{ subject.course_title }}</td>
                        <td>{{ subject.course_credits }}</td>
                        <td>{{ subject.semester }}</td>
                        <td>{{ subject.year }}</td>
                        <td>{{ subject.course_lec_units }}</td>
                        <td>{{ subject.course_lab_units }}</td>
                        <td>{{ subject.course_hours_per_week }}</td>
                        <td>{{ subject.specialization }}</td>
                        <td>{{ subject.pre_requisite }}</td>
                        <td>{{ subject.course_type }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <script type="text/javascript" class="init">
        $(document).ready(function() {
        $('#subjects_taught').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        } );
    } );
    </script>
</div>
{% endblock %}