{% extends "main.html" %}


{% block title %}
    Extension Coordinator Side
{% endblock %}


{% block content %}
    <h1>Extension Coordinator</h1>
    <a href="./announcements">Announcements</a>
    <h1>All Researches: </h1>
    {% if all_research|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ID</th>
                <th>Research Title</th>
                <th>Progress</th>
                <th>Area</th>
                <th>School</th>
                <th>Degree Level</th>
                <!-- <th>Actions</th> -->
            </tr>
        </thead>

        <tbody>
            {% for element in all_research %}
            <tr>
                <td>{{ element.id }}</td>
                <td>{{ element.faculty_id }}</td>
                <td>{{ element.research_title }}</td>
                <td>{{ element.research_progress }}</td>
                <td>{{ element.research_area }}</td>
                <td>{{ element.researcher_school }}</td>
                <td>{{ element.degree_level }}</td>

                <!-- <td>
                    <a href="./view_research/{{element.id}}">View Data</a>
                </td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h3>No data available.</h3>
    {% endif %}
{% endblock %}