{% extends "main.html" %} 

{% block title %} 
    Add Researches
{% endblock %} 

{% block content %}
<form enctype="multipart/form-data" action="" method="post">
    {% csrf_token %}
    <p>Hello</p>
    <div class="grid gap-2">
        <div class="grid">
            <p>Research Title: </p>
            <p>{{ form.research_title }}</p>
        </div>
        <div>
            <p>Research Progress: </p>
            <p>{{ form.research_progress }}</p>
        </div>
        <div>
            <p>Area: </p>
            <p>{{ form.research_area }}</p>
        </div>
        <div>
            <p>Degree Level: </p>
            <p>{{ form.degree_level }}</p>
        </div>
        <div>
            <p>Content Type: </p>
            <p>{{ form.content_type }}</p>
        </div>
        <div>
            <p>Abstract: </p>

            <textarea name="abstract" id="id_abstract" cols="30" rows="10" maxlength="1500" style="width: 100%;"></textarea>
            
        </div>
        <div>
            <p>Document: </p>
            <input type="file" name="document" id="id_document" accept="application/pdf,application/msword,
            application/vnd.openxmlformats-officedocument.wordprocessingml.document">
        </div>
        <div>
            <p>School: </p>
            <p>{{ form.researcher_school }}</p>
        </div>
        <div>
            <p>Degree Level: </p>
            <p>{{ form.degree_level }}</p>
        </div>
            {{ form.errors }}
            {{ form.non_field_errors }}
        

        <button type="submit">Add Research</button>
    </div>

    
    <!-- <div class="container_form_presented">
        <h1>Presented: </h1>
        {% for e in form_presented %}
        <div><p>{{ e.label }}</p>{{ e }}</div>
        {% endfor %}
    </div>

    <div class="container_form_published">
        <h1>Published: </h1>
        {% for e in form_published %}
        <div><p>{{ e.label }}</p>{{ e }}</div>
        {% endfor %}
    </div> -->

</form>
{% endblock %} 