<h1>Ongoing: </h1>
    {% if research_ongoing_filtered|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ID</th>
                <th>Research Title</th>
                <th>Area</th>
                <th>abstract</th>
                <th>document</th>
                <th>date_added</th>
                <th>School</th>
                <th>Degree Level</th>
                
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for element in research_ongoing_filtered %}
            <tr>
                <td>{{ element.id }}</td>
                <td>{{ element.faculty_id }}</td>
                <td>{{ element.research_title }}</td>
                <td>{{ element.research_area }}</td>
                <td>{{ element.abstract }}</td>
                <td>{{ element.document }}</td>
                <td>{{ element.date_added }}</td>
                <td>{{ element.researcher_school }}</td>
                <td>{{ element.degree_level }}</td>
                

                <td>
                    <a href="./update_research/{{ element.id }}">Update</a>
                    <a href="./delete_research/{{ element.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h3>No data available.</h3>
    {% endif %}