{% extends 'partials/base.html' %}
{% block title %}Researches{% endblock %}
{% block headers %} Researches {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<!--Graphs-->
    <div class="mt-[10vh] dark:white w-full">
        <div class="animate fade-animator delay-1 saturate-0 bg-[#ff880000] overflow-hidden w-full rounded-[20px] min-h-[240px] flex flex-col text-center justify-center items-center font-sans">
            <div class="z-[0] w-full h-[40vh] cover mix-blend-multiply" style="mix-blend-mode: multiply;opacity:0.05;background:url('/static/images/bulsu_logo.png');background-size:cover; background-position: center;">
            </div>
            <div class="z-[1] absolute">
                <p class="font-sans text-sm font-bold text-white dark:bg-black bg-[rgba(142,142,142,0.5)] py-1 px-3 inline-block">CICT</p>
                <p class="font-sans text-[48px] tracking-[-2px] font-bold dark:text-white">Researches</p>
                <p class="font-sans text-[13px] font-normal opacity-80 dark:text-white">Access hundreds of papers which are made on noche buena</p>
                <div id="research-search-container" class="pt-6 search flex justify-center">
                    <div class="relative w-[95%]">
                    <img src="/static/images/search_neutral.png" class="translate-y-[-2px]" style="height:20px;width:auto"/>
                    <input placeholder="Search" class="p-2 w-full rounded-md border-black border" style="padding-left:45px !important"/>
                        </div>
                </div>
            </div>
        </div>
        <p class="font-sans mt-[2vh] tracking-[-2px] text-[25px] font-bold text-white text-center animate glow delay-4">Recent</p>

        
        <div class="grid gap-3 grid-cols-3 grid-rows-4 [&>div]:rounded-md min-h-screen w-full">
            {# For displaying the list of registered research #}
            {% if all_researches|length > 0 %}
                {% for element in all_researches %}
                    <div class="dark:bg-[#363636] bg-[#F4F4F4] p-[10px] animate glow delay-{{forloop.counter}}">
                        <strong> {{ element.research_title}} </strong> <br>
                        {{ element.faculty_id.first_name }}  {{ element.faculty_id.last_name }}<br>
                        Area: {{ element.research_area}} <br>
                        Progress: {{ element.research_progress}} <br>
                    </div>
                {% endfor %}
            {% endif %}


            {% comment %}
            {% for i in "x"|rjust:"9" %}
 
            {% endfor %}
            {% endcomment %}
        </div>
    </div>
<!--End Graphs-->
{% endif %}
{% endblock %}