<div>

    {% block published %}
        <h3>Published: </h3>
        {% if research_presented|length > 0 %}
        <table class="table" id="published">
            <thead>
                <tr>
                    <th>Research ID</th>
                    <td>Name</td>
                    <td>Event Name</td>
                    <td>Event Venue</td>
                    <td>Event Start Date</td>
                    <td>Event End Date</td>
                    <td>Presentation Type</td>
                    <td>Event Type</td>
                    <td>Org Name</td>
                    <td>Org Website URL</td>
                    <td>Org Support</td>
                    <td>Org Description</td>
                    <td>Date Presented</td>
                </tr>
            </thead>
    
            <tbody>
                {% for element in research_presented %}
                <tr>
                    <td>ID: {{ element.id }}, <b>Presented: </b>{{element.presented_id}}</td>
                    <td>{{element.short_name}}</td> 
                    <td>{{element.event_name}}</td> 
                    <td>{{element.event_venue}}</td> 
                    <td>{{element.event_start_date|date:"M, d Y"}}</td> 
                    <td>{{element.event_end_date|date:"M d, Y"}}</td> 
                    <td>{{element.presentation_type}}</td> 
                    <td>{{element.event_type}}</td> 
                    <td>{{element.org_name}}</td> 
                    <td>{{element.org_website_url}}</td> 
                    <td>{{element.org_support}}</td> 
                    <td>{{element.org_description}}</td> 
                    <td>{{element.date_presented}}</td> 
                    <td>
                        <button onclick="window.location.href = '/update_research/{{ element.id }}'">Update</button>
                        <button onclick="window.location.href = '/delete_research/{{ element.id }}'"{{ element.id }}">Delete</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
        {% else %}
            <h5>No data available.</h5>
        {% endif %}
    
        <script type="text/javascript" class="init">
            $(document).ready(function() {
            $('#published').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            } );
        } );
        </script>
    {% endblock %}
    </div>