<div>

    {% block published %}
        <h3>Published: </h3>
        <table class="table" id="published">
            <thead>
                <tr>
                    <th>Research ID</th>
                    <th>Published Date</th>
                    <th>Publication</th>
                    <th>Source</th>
                    <th>License</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for element in research_published %}
                <tr>
                    <td>{{ element.published_id }}</td>
                    <td>{{ element.published_date }}</td>
                    <td>{{ element.publication }}</td>
                    <td>{{ element.source }}</td>
                    <td>{{ element.research_license }}</td>
                    <td class="action-buttons">
                        <button class="button-9" role="button" onclick="window.location.href = '/research/update_details/b/{{ element.id }}'"><span class="iconify" data-icon="material-symbols:edit-square"></button>
                        <button class="button-9" role="button" onclick="window.location.href = '/research/delete_details/b/{{ element.id }}'"{{ element.id }}"><span class="iconify" data-icon="ic:round-delete"></span></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    
        <script type="text/javascript" class="init">
            $(document).ready(function() {
            $('#published').DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            } );
        } );
        </script>
    {% endblock %}
    </div>