{% extends 'partials/base.html' %}
{% block title %}Researches{% endblock %}
{% block headers %} RESEARCHES {% endblock %}

{% block content %}
    <div style="" class="grid gap-4">
        <a class="form-modal-toggler main-theme-bg" title="Add Research" href="/research/add_research">Add Research</a>
        <div id="nest-parent">
            <p class="text-center">What do you want to add?</p>
            
            <a class="nest font-bold" style="background-color:white; color: orange" title="Add Ongoing Research" href="/research/add_research">Ongoing Research</a>
            <a class="nest font-bold" style="background-color:white; color: orange" title="Add Presented Research" href="/research/add_presented">Presented Research</a>
            <a class="nest font-bold" style="background-color:white; color: orange" title="Add Published Research" href="/research/add_published">Published Research</a>
        </div>
    </div>
{% endblock %}
