
  :root.chart {
    --first: #4DC3F3;
    --second: #981BFA;
  }
  
  /* OVERRIDE FRAPPE-CHARTS CSS */
  .chart .line-graph-path {
    stroke-width: 3px !important;
  }
  
  .chart .apexcharts-tooltip {
    background-color: rgba(255, 255, 255, 0.641) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 15px !important;
    padding: 15px !important;
    border: 1px solid rgba(0, 0, 0, 0.144);
  }
  .dark .chart .apexcharts-tooltip {
    background-color: rgba(0, 0, 0, 0.02) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 15px !important;
    padding: 15px !important;
    border: 1px solid rgba(0, 0, 0, 0.144);
  }

  .apexcharts-xaxistooltip {
    background-color: rgba(255, 255, 255, 0.641) !important;
    backdrop-filter: blur(10px) !important;
  }

  .dark .apexcharts-xaxistooltip {
    background-color: rgba(11, 11, 11, 0.638) !important;
    backdrop-filter: blur(10px) !important;
    color:White;
  }
  
  .chart .apexcharts-tooltip strong {
    color: #535353;
    font-weight: 600;
  }

  .chart .apexcharts-tooltip .apexcharts-tooltip-title {
    background-color: transparent !important;
    color: black;
    font-weight: bold;
  }
  .dark .chart .apexcharts-tooltip .apexcharts-tooltip-title {
    background-color: transparent !important;
    color: white;
  }

  
  .chart .legend-container span::before {
    content: ' ';
    display: inline-block;
    border-radius: 100%;
    vertical-align: middle;
    background-color: white;
    width: 5px;
    margin-right: 13%;
    height: 5px;
  }
  
  .chart .legend-container span:nth-child(1)::before {
    outline: 5px solid var(--first);
  }
  
  .chart .legend-container span:nth-child(2)::before {
    outline: 5px solid var(--second);
  }
  
  .chart .legend-container span {
    vertical-align: middle;
  }
  
  .dark .chart .y g .line-horizontal, .dark .chart .x g .line-vertical {
    stroke: rgba(255, 255, 255, 0.1) !important;
    color:rgba(255, 255, 255, 1) !important;
  }
  
  .dark .chart .apexcharts-tooltip {
    background-color: rgba(255, 255, 255, 0.15) !important;
    backdrop-filter: blur(10px) !important;
    border-radius: 15px !important;
    padding: 15px !important;
    border: 1px solid rgba(255, 255, 255, 0.278);
  }
  
  .dark .chart .x g text {
    filter: brightness(1.2);
  }
  
  .dark .chart .y g text {
    filter: brightness(1.7);
  }
  
  .dark .chart .data-point-list li strong {
    color:rgba(255, 255, 255, 0.5) !important;
  }
  
  #research-search-container {
    position: relative;
  }
  
  #research-search-container img {
    position: absolute;
    top: 12px;
    left: 15px;
  }
  
  #research-search-container input {
    padding-left: 40px;
    color:black;
  }

  .post-animating {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 0.2s ease-out, transform 0.2s;
  }

  .pre-animating {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.2s ease-out, transform 0.2s;
  }

  a, a:hover {
    text-decoration: none !important;
  }
  
  #top-search-input {
    width: 0%;
    overflow: hidden;
    display:none;
    transition: all 200ms ease-in-out;
  }

  #top-search-input.toggled {
    width: 60%;
    display:block;
    transition: all 200ms ease-in-out;
  }
  
  #top-search-button.toggled {
    width: 40%;
    transition: all 200ms ease-in-out;
    transform: translateX(-220%);
  }
  
  table {
    background:rgba(200, 200, 200, 0.076);
    border-radius: 15px; 
    overflow:hidden;
    width: 100% !important;
  }

  table tr, table td, table th {
    border: 1px solid rgba(200, 200, 200, 0.235) !important;
  }

  table td {
    padding: 5px !important;
  }

  table th {
    padding: 10px;
  }

  .button-standard {
    transition: 100ms ease-in-out;
    cursor: pointer;
  }

  .button-standard:hover {
    opacity: 0.5;
  }

  .limit {
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 20px; /* fallback */
    max-height: 50px; /* fallback */
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
  }

  .research-item:hover {
    opacity:0.5;
    cursor:pointer;
  }

  .drawer {
    display: none;
  }

  .drawer__header {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }
  .drawer__close {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='15px' height='16px' viewBox='0 0 15 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='2.-Menu' transform='translate(-15.000000, -13.000000)' stroke='%23000000'%3E%3Cg id='Group' transform='translate(15.000000, 13.521000)'%3E%3Cpath d='M0,0.479000129 L15,14.2971819' id='Path-3'%3E%3C/path%3E%3Cpath d='M0,14.7761821 L15,-1.24344979e-14' id='Path-3'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 15px;
    height: 15px;
  }
  .drawer__wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    max-width: 500px;
    z-index: 9999;
    overflow: auto;
    transition: transform 0.3s;
    will-change: transform;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    -webkit-transform: translateX(103%);
    transform: translateX(103%); /* extra 3% because of box-shadow */
    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
    box-shadow: 0 2px 6px #777;
  }
  .drawer__content {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    flex-grow: 1;
    padding: 1.5rem;
  }
  .drawer.is-active {
    display: block;
  }
  .drawer.is-visible .drawer__wrapper {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .drawer.is-visible .drawer__overlay {
    opacity: 1;
  }

  .drawer__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 200;
    opacity: 0;
    transition: opacity 0.3s;
    will-change: opacity;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.492);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  button.dt-button {
    background-color: white !important;
  }

  .form-modal-toggler {
    background-color: orange;
    border: 1px solid orange;
    color: white;
    padding: 10px 10px;
    border-radius:5px;
    transition: 100ms ease;
  }
  .form-modal-toggler:hover {
    color:White;
    opacity: 0.5;
  }

  
/* SCROLLBAR */
/* DARK */
/* Firefox */
.dark * {
  scrollbar-width: thin;
  scrollbar-color: #5c5c5c #383838;
}

/* Chrome, Edge, and Safari */
.dark *::-webkit-scrollbar {
  width: 8px;
}

.dark *::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

.dark *::-webkit-scrollbar-thumb {
  background-color: #5c5c5c;
  border-radius: 10px;
  border: 0px double #ffffff;
}

/* LIGHT */
/* Firefox */
* {
scrollbar-width: thin;
scrollbar-color: #c9c9c9 #f2f2f2;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 8px;
}

*::-webkit-scrollbar-track {
background: transparent;
}

*::-webkit-scrollbar-thumb {
background-color: #dddddd;
border-radius: 10px;
border: 0px double #ffffff;
}

form > div > div {
  line-height: 1;
}

button[type="submit"] {
  border: 1px solid rgb(170, 170, 170);
  display: inline;
  color: black;
  border-radius: 5px;
  padding: 10px 5px;
  background:rgba(0, 0, 0, 0.03);
}

button[type="submit"]:hover {
  background:rgba(0, 0, 0, 0.152);
}

form input, form select {
  width: 100%;
}

.dark button[type="submit"] {
  border: 1px solid rgb(193, 193, 193);
  color: white;
}

.delete {
  margin: 10px;
}

.delete:hover {
  opacity: 0.5;
  color:red;
}