{% extends 'partials/base.html' %}
{% block title %}Sales Analytics{% endblock %}
{% block headers %} ANALYTICS {% endblock %}
{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}

{% block content %}
<style>
    body {
        background: #eef1f2;
        overflow-x: hidden;       
    }
</style>

    <div style="margin-top: 85px;">

    <!-- NAVIGATION LAYER 2 -->
    <div class="mx-4">
        <form hx-get="{% url 'graphs' %}" 
            hx-trigger="change" 
            hx-target="#graphs"
            hx-indicator=".htmx-indicator"
            hx-swap="outerHTML">
            <div class="row pb-3">
                <div class="col">
                    <label for="date-filter"><strong>Date Filter:</strong></label>
                    <div class="dropdown">
                        <select class="form-select" id="date-filter" name="date-filter" aria-label="Date Filter">
                            <option value="daily">Week</option>
                            <option value="weekly">Month</option>
                            <option value="monthly" selected>Year</option>
                            <option value="yearly">All</option>
                        </select>
                    </div>
                </div>
        </form>
                {% comment %} <div class="col">
                    <label for="date-filter"> <strong>Date Range:</strong> </label>
                    <div class="dropdown">
                        <select class="form-select" id="date-range" name="date-range" aria-label="Date Filter">
                            <option value="week">Week</option>
                            <option value="month">Month</option>
                            <option value="year" selected>Year</option>
                            <option value="all">All</option>
                        </select>
                    </div>
                </div> {% endcomment %}
                <div class="col">
                </div>

                {% if request.user.is_staff %}
                <div class="col d-flex justify-content-end pt-4">
                    <span class="tooltips_top">
                        <div class="btn-group" style="width:auto">
                            <a href="{% url 'export-graph-pdf' %}">
                                <button type="button" class="btn btn-dark ">
                                    <span class="tooltiptext_top"> Download </span>  
                                    <img src="{% static 'images/icon_download.png' %}" style="width:15px; height:15px;" alt="Download">
                                </button>
                            </a>
                        </div>
                    </span>
                </div>
                {% endif %}
            </div>
    </div>

    {% include 'sales/graphs.html'%}

</div>
{% endblock %}