{% extends 'partials/base.html' %}
{% block title %}Order Detail Page{% endblock %}
{% block headers %} VIEW INVOICE {% endblock %}
{% block content %}
{% load humanize %}
<style>
    body {
        background: rgb(230, 227, 227);
    }
</style>



<div style="margin-top: 64px;">
    <!-- NAVIGATION LAYER 1
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <h3 class="navbar-brand ml-3 p-2" href="#">CUSTOMER ORDER DETAILS</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    </nav> -->  
    <!-- NAVIGATION LAYER 2 -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    
        <div class="collapse navbar-collapse mx-3" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'sales' %}"> <img src="/static/images/icon_back_btn.png" style="width:13px; height:13px;" alt="Back Button"> Back to Sales </a>               
            </li>       
        </ul>
        </div>
    </nav>

    <div class="container-fluid">
 
            <div class="container">
            
                <div class="row my-3">
                    <div class="col-md-8">
            
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-info text-white">
                                <table class="table table-borderless m-0">
                                    <tbody>
                                        <tr class="d-inline-flex p-2"> 
                                            <th scope="row" class="text-light h6">Invoice Number: <strong>{{ customer.invoice_number }}</strong> &nbsp; &nbsp; |</th>
                                            <th scope="row" class="text-light h6">Date: <strong>{{ customer.date_created }}</strong> &nbsp; &nbsp; |</th>
                                            <th scope="row" class="text-light h6">Staff: <strong>{{ customer.staff }}</strong> </th>
                                        </tr>
                                    </tbody>
                                </table>                                                                                                      
                            </div>
                            <div class="card-body px-5 py-4">
                                <span class="h5"> <strong>CUSTOMER INFORMATION:</strong></span>
                                <div class="row pt-3">
                                    <div class="col">
                                        <span class="h6"> <span class="text-muted"> Name: </span> &nbsp; &nbsp; {{ customer.customer.name }} </span><br>
                                        <span class="h6"> <span class="text-muted"> Email: </span> &nbsp; &nbsp; {{ customer.customer.email }} </span><br>
                                        <span class="h6"> <span class="text-muted"> Contact: </span> &nbsp; &nbsp; {{ customer.customer.contact }} </span><br>
                                    </div>
                                    <div class="col">
                                        <span class="h6"> <span class="text-muted"> Address: </span> &nbsp; &nbsp; {{ customer.customer.address }}</span><br>
                                        <span class="h6"> <span class="text-muted"> Car Make: </span> &nbsp; &nbsp; {{ customer.customer.car_make }}</span><br>
                                        <span class="h6"> <span class="text-muted"> Plate No: </span> &nbsp; &nbsp; {{ customer.customer.plate_no }}</span>                                  
                                    </div>
                                </div>
                                <hr>
                                {% if customer.products.all %}
                                <div class="py-2"><span class="h5"> <strong>PRODUCTS:</strong></span></div> 
                                <div class="row pt-2 px-5">
                                    <table class="table table-striped bg-white">
                                        <tbody>
                                            <tr>
                                                <th scope="row">Name</th>
                                                <th scope="row">Quantity</th>
                                                <th scope="row">Price/Product</th>
                                                <th scope="row">Subtotal</th>
                                            </tr>                                                                                      
                                            {% for orderproduct in customer.products.all %}
                                        </tr> <td>{{ orderproduct.product_title }}</td>
                                                <td>{{ orderproduct.quantity }}</td>
                                                <td>₱ {{ orderproduct.price|intcomma }}</td>
                                                <td>₱ {{ orderproduct.total_price|intcomma }}</td></tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>  
                                {% endif %}
                                {% if customer.services.all %}
                                <div class="py-2"><span class="h5"> <strong>SERVICES:</strong></span></div>                              
                                <div class="row pt-2 px-5">                                   
                                    <table class="table table-striped bg-white">
                                        <tbody>                                    
                                                <tr>
                                                    <th scope="row">Name</th>
                                                    <th scope="row">Labor</th></tr>
                                                    {% for orderservice in customer.services.all %}
                                                </tr> <td>{{ orderservice.service }}</td>
                                                        <td>₱ {{ orderservice.labor|intcomma }}</td>
                                                        </tr>
                                                    {% endfor %}
                                            </tbody>
                                        </table>
                                </div>  
                                {% endif %}
                                <hr>                                                                                   
                                <div class="row pt-3">                                                                                                                 
                                    <span class="h6"> <span class="text-muted"> Status: </span> &nbsp; &nbsp; {{ customer.status }}</span><br>
                                    <span class="h6"> <span class="text-muted"> Payment Method: </span> &nbsp; &nbsp; {{ customer.pay_method }}</span><br>
                                    <span class="h6"> <span class="text-muted"> Payment Reference Number: </span> &nbsp; &nbsp; {% if not customer.pay_id %}--{% endif %}{{ customer.pay_id }}</span><br>
                                    <span class="h6"> <span class="text-muted"> Subtotal: </span> &nbsp; &nbsp; ₱ {{ customer.subtotal|intcomma }}</span><br>
                                    <span class="h6"> <span class="text-muted"> Vat: </span> &nbsp; &nbsp; ₱ {{ customer.vat|intcomma }}</span><br>
                                    <span class="h6"> <span class="text-muted"> Total: </span> &nbsp; &nbsp; ₱ {{ customer.total|intcomma }}</span><br>
                                    <br>                                                
                                </div>

                                <div class="mb-2">
                                    <a class="btn btn-info" href="{% url 'exportcustomer-pdf' customer.id %}">Export PDF</a>                            
                                </div>                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</div>
{% endblock %}