{% extends 'partials/base.html' %}
{% block title %}Order Page{% endblock %}
{% block headers %} TRANSACTIONS {% endblock %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block content %}

<style>
    body {
        background: #eef1f2;
        overflow-x: hidden;           
    }  

</style>

<div style="margin-top: 85px;">

    <div class="row my-4 mx-3">
        <div class="col-xxl-8">
            
            <div class="mx-2">
                <ul class="nav d-flex justify-content-start">
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#products"><span class="default-state-status trsact-link navtab-status-active">PRODUCTS</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#services"><span class="default-state-status trsact-link">SERVICES</span></a>
                    </li>
                </ul>         
            </div>

            <!--<div class="px-4"><hr class="mb-0 mt-1"></div>-->
           
            <!-- Tab panes -->
            <div class="tab-content mx-2 mt-3">              
                <div id="products" class="container tab-pane {%if display == 'products' %}active{% endif %}">
                    <form class="form-inline my-2 my-lg-0" 
                        hx-get="{% url 'order-product-search' %}"
                        hx-target="#products_list" 
                        hx-swap="outerHTML"
                        hx-trigger="submit, input delay:0.3s"
                        hx-indicator=".htmx-indicator">
                        <div class="col-mr-1">
                            <div>
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
                            </div>
                          </div>
                          {% comment %} <div class="col">
                            <div class="dropdown">
                                <select class="form-select" name="category-filter" aria-label="Category Filter">
                                    <option value="all">Filter by Category</option>
                                    {% for type in types%}
                                      <option value="{{ type }}" {% if selected == type %}selected{% endif %}>{{ type }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                          </div> {% endcomment %}
                          <div class="col">
                              <div class="dropdown">
                                  <select class="form-select" name="type-filter" aria-label="Product Type Filter">
                                      <option value="all">All by Product Types</option>
                                      {% for type in types%}
                                      <option value="{{ type }}" {% if selected == type %}selected{% endif %}>{{ type }}</option>
                                      {% endfor %}
                                  </select>
                              </div>
                          </div>
                          <div class="col">
                              <div class="dropdown">
                                  <select class="form-select" name="vendor-filter" aria-label="Brand Filter">
                                      <option value="all">All Vendors</option>
                                      {% for b in brands %}
                                      <option value="{{ b }}" {% if selected == b %}selected{% endif %}>{{ b }}</option>
                                      {% endfor %}
                                  </select>
                              </div>
                          </div> 
                    </form>
                    {% include 'sales/product_list.html' %}
                </div>
                <div id="services" class="container tab-pane {%if display == 'services' %}active{% endif %}">
                    <form class="form-inline my-2 my-lg-0" 
                        hx-get="{% url 'order-service-search' %}"
                        hx-target="#services_list" 
                        hx-swap="outerHTML"
                        hx-trigger="submit, input delay:0.3s">
                        <div class="col-mr-1">
                            <div>
                                <input class="form-control mr-sm-2" type="search" placeholder="Name" name="name" aria-label="Search">
                            </div>
                        </div>
                        <div class="col">
                            <div class="dropdown">
                                <select class="form-select" name="category-filter" aria-label="Category Filter">
                                    <option value="all">All Categories</option>
                                    {% for c in service_categories%}
                                    <option value="{{ c.category }}" {% if selected == c %}selected{% endif %}>{{ c.category }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                    {% include 'sales/service_list.html' %}
                </div>
            </div> 
        </div>

        {% include 'sales/cart.html' %}

    </div>
</div>

<!--  <div class="container">
    <div class="row my-4">
        <div class="col-md-4">
            {% for message in messages %}
                {% if message%}
                    <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="border bg-white p-3">
                <h4>Add Order</h4>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input class="btn btn-success btn-block" type="submit" value="Add Order">

                </form>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table bg-white">
                <thead class="bg-info">
                    <tr class="text-white">
                        <th scope="col">Date</th>
                        <th scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Staff</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Return Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.date }}</td>
                        <td>{{ order.product }}</td>
                        <td>{{ order.order_quantity }}</td>
                        <td>{{ order.staff }}</td>
                        <td>{{ order.subtotal }}</td>
                        <td>{{ order.return_status }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>  -->

{% endblock %}