{% load crispy_forms_tags %}
{% load static %}
{% load humanize %}
    <div class="modal fade" id="orderSummaryModal" tabindex="-1" role="dialog" aria-labelledby="orderSummaryLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h4 class="modal-title" id="orderSummaryLabel">Order Summary</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                </div>

                <form method="POST" hx-post="{% url 'add-order' %}" 
                        hx-trigger="submit" 
                        hx-target="#err-text"
                        hx-indicator=".htmx-indicator"
                        hx-swap="innerHTML">
                    {% csrf_token %}
                    <div class="modal-body" id="htmx-modal">
                        <!-- Error Messages -->
                        <div id="err-text"></div>

                        <div class="form-group row">
                            <h5>Customer Details:</h5>
                            <ul class="nav d-flex justify-content-start">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="tab" href="#existing-customer"><span class="text-muted"><strong>Existing Customer</strong></span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " data-toggle="tab" href="#new-customer"><span class="text-muted"><strong>New Customer</strong></span></a>
                                </li>
                            </ul>
                            <hr>
                            <div class="tab-content"> 
                                
                                <div id="existing-customer" class="container tab-pane active">
                                    <label for="cust" class="col col-form-label" style="padding-left:0px">Customer <span class="asteriskField">*</span></label>
                                    <input type="text" id='cust' class="form-control" name="cust" placeholder="Email/Contact No.">
                                </div>

                                <div id="new-customer" class="container tab-pane">
                                    <div class="row">
                                        <div class="col">
                                            <label for="cust_name" class="col col-form-label" style="padding-left:0px">Name <span class="asteriskField">*</span></label>
                                            <input type="text" id='cust_name' class="form-control" name="cust_name">
                                        </div>
                                        <div class="col">
                                            <label for="email" class="col col-form-label" style="padding-left:0px">Email <span class="asteriskField">*</span></label>
                                            <input type="email" id='email' class="form-control" name="email">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="contact" class="col col-form-label" style="padding-left:0px">Contact No. <span class="asteriskField">*</span></label>
                                            <input type="text" id='contact' class="form-control" name="contact" maxlength="13">
                                        </div>
                                        <div class="col">
                                            <label for="address" class="col col-form-label" style="padding-left:0px">Home/Office Address</label>
                                            <input type="text" id='address' class="form-control" name="address">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <label for="car" class="col col-form-label" style="padding-left:0px">Car</label>
                                            <input type="text" id='car' class="form-control" name="car">
                                        </div>
                                        <div class="col">
                                            <label for="plate-no" class="col col-form-label" style="padding-left:0px">Plate No.</label>
                                            <input type="text" id='plate-no' class="form-control" name="plate-no">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h5>Payment Details:</h5>
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <label for="pay-method" class="col col-form-label" style="padding-left:0px">Payment Method: </label>
                                <select class="form-select" id="pay-method" name="pay-method" aria-label="Payment Method">
                                    <option value="Cash" selected>Cash</option>
                                    <option value="Bank Transfer">Bank Transfer</option>
                                    <option value="Credit/Debit">Credit/Debit</option>
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label for="pay-id" class="col col-form-label" style="padding-left:0px">Payment Reference Number </label>
                                <input type="text" id='pay-id' class="form-control" name="pay-id" placeholder="For payment methods other than cash only.">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            {% if cart_products %}
                            <h6 class="mb-3"> <strong> ITEM SUMMARY: </strong> </h6>
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Product</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Total Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart_products %}
                                    <tr>
                                        <td>{{ item.product_title }}</td>
                                        <td>{{ item.quantity }}</td>
                                        <td>&#8369;{{ item.total_price|intcomma }}</td>
                                    </tr>
                                    {% endfor %} 
                                </tbody>   
                            </table>          
                            <hr>
                            {% endif %}

                            {% if cart_services %}
                            <h6 class="mb-3"> <strong> SERVICE SUMMARY: </strong>  </h6>
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th scope="col">Service</th>
                                        <th scope="col">Labor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in cart_services %}
                                    <tr>
                                        <td>{{ item.service }}</td>
                                        <td>&#8369;{{ item.labor }}</td>
                                    </tr>
                                    {% endfor %} 
                                </tbody>   
                            </table>        
                            <hr>                        

                            {% endif %}
                            <div class="form-group row h6 px-3 py-0 my-0">
                                <label for="staticEmail" class="col-sm-6 col-form-label text-muted">Subtotal:&nbsp;&nbsp;&nbsp;</label>    
                                <div class="col-6">
                                    <input type="text" readonly class="form-control-plaintext h6" id="staticEmail" value="&#8369;{{subtotal|intcomma}}">
                                </div>
                            </div>

                            <div class="form-group row h6 px-3 py-0 my-0">
                                <label for="staticEmail" class="col-sm-6 col-form-label text-muted">VAT(12%):&nbsp;&nbsp;&nbsp;</label>
                                <div class="col-6">
                                    <input type="text" readonly class="form-control-plaintext h6" id="staticEmail" value="&#8369;{{vat|intcomma}}">
                                </div>
                            </div>

                            <div class="form-group row h5 px-3 mt-4 mb-0">
                                <label for="staticEmail" class="col-sm-6 col-form-label text-muted">Total:&nbsp;&nbsp;&nbsp;</label>
                                <div class="col-6">
                                    <input type="text" readonly class="form-control-plaintext h5" id="staticEmail" value="&#8369;{{total|intcomma}}">
                                </div>
                            </div>                        
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Add Order</button>
                    </div>
                </form>       
            </div>
        </div>
    </div>