{% load humanize %}
{% load static %}
<div id="item-list">
    <div class="mx-4">
        <table class="table bg-white text-center">
            <thead>
                <tr>
                <th scope="col">Invoice Number</th>
                <th scope="col">Date</th>
                <th scope="col">Customer Name</th>
                <th scope="col">Staff</th>
                <th scope="col">Subtotal</th>
                <th scope="col">VAT</th>
                <th scope="col">Total</th>
                <th scope="col">Payment Method</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in page %}
                <tr>
                    <td>{{ sale.invoice_number }}</td>
                    <td>{{ sale.date_created|date:"d M Y" }}</td>
                    <td>{{ sale.customer }}</td>
                    <td>{{ sale.staff }}</td>
                    <td>&#8369;{{ sale.subtotal|intcomma }}</td>
                    <td>&#8369;{{ sale.vat|intcomma }}</td>
                    <td>&#8369;{{ sale.total|intcomma }}</td>
                    <td>{{ sale.pay_method }}</td>
                    <td>{{ sale.status }}</td>
                    <td scope="row">
                        <!--<a class="btn btn-primary btn-sm" href="{% url 'sales-customer-detail' sale.id %}">View</a> -->                 
                        <span class="tooltips_top"> 
                            <a class="btn btn-dark btn-sm pb-1" href="{% url 'sales-customer-detail' sale.id %}">
                            <span class="tooltiptext_top"> View </span> 
                            <img src="{% static 'images/icon_view.png' %}" style="width:18px; height:18px;" alt="View Product">
                            </a>
                        </span>
                        {% if request.user.is_staff %}
                        <span class="tooltips_top"> 
                            <a class="btn btn-dark btn-sm pb-1" href="{% url 'sales-return' sale.id %}">
                            <span class="tooltiptext_top"> Return </span> 
                            <img src="{% static 'images/icon_archive.png' %}" style="width:18px; height:18px;" alt="Return Order">
                            </a>
                        </span>
                        {% endif %}                           
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

        <!-- SHOWING X OF X SALES -->
        <p class="font-sans ml-4 text-muted">  
            Showing <strong> {{ count }} </strong>  of  <strong> {{ itemcount }} </strong> Sales
            &nbsp;&nbsp; | &nbsp;&nbsp; 
            Page: <strong> {{ page.number }} </strong> / <strong> {{ page.paginator.num_pages }} </strong> 
        </p> 

    <!-- PAGINATION -->    
    <div class="row my-1">
        <div class="col d-flex justify-content-center">
            <nav aria-label="...">
                <ul class="pagination">
                    {% if page.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'sales' %}?page={{ page.previous_page_number }}">Previous</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="">Previous</a>
                    </li>
                    {% endif %}
                    
                    {% for num_page in page.paginator.page_range %}
                    <br>
                    {% if page.number == num_page %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="{% url 'sales' %}?page={{ num_page }}">{{ num_page }}</a>
                    </li>
                    {% else %}
                    <li class="page-item" aria-current="page">
                        <a class="page-link" href="{% url 'sales' %}?page={{ num_page }}">{{ num_page }}</a>
                    </li>
                    {% endif %}
                    <br>
                    {% endfor %}
                    
                    {% if page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'sales' %}?page={{ page.next_page_number }}">Next</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>