{% extends 'partials/base.html' %}
{% block title %}Sales History Page{% endblock %}
{% block headers %} SALES {% endblock %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load static %}

{% block content %}
<style>
        body {
            background: #eef1f2;
            overflow-x: hidden;
            
        }
</style>

<div style="margin-top: 64px;">
    
    <!-- NAVIGATION LAYER 2 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        {% comment %} <div class="collapse navbar-collapse mx-3" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <a class="nav-link" href="">Completed</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="">Returned</a>
                </li>
            </ul>
        </div> {% endcomment %}
    </nav>

    <div>
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} my-2" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        <div class="my-3 mx-4">
            <form class="form-inline my-2 my-lg-0" 
                {% block filter-url %}hx-get="{% url 'sales-search' %}"{% endblock %}
                    hx-target="#item-list" 
                    hx-swap="outerHTML"
                    hx-trigger="submit, input delay:0.3s"
                    hx-indicator=".htmx-indicator">

                {% block filters %}

                    <div class="col-mr-1 mr-2">
                        <div>
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
                        </div>
                    </div>

                    <div class="col-mr-1 mr-3">
                        <div class="dropdown">
                            <select class="form-select" name="status" aria-label="Status">
                                <option value="all">Status</option>
                                <option value="Completed">Completed</option>
                                <option value="Returned">Returned</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-mr-1 mr-3">
                        {{dateform.start_date|as_crispy_field}}
                    </div>

                    <div class="col-mr-1 mr-3">
                        {{dateform.end_date|as_crispy_field}}
                    </div>
                                     
                {% endblock %}
                    {% if request.user.is_staff %}
                    <div class="col">
                        <div class="float-right">
                        <span class="tooltips_top">
                            <div class="btn-group" style="width:auto">
                                <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="tooltiptext_top"> Download </span>  
                                    <img src="{% static 'images/icon_download.png' %}" style="width:15px; height:15px;" alt="Download">
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" style="width:auto">
                                    <a class="dropdown-item" {% block export-excel %}href="{% url 'exportsales-excel' %}"{% endblock %}>Excel</a>
                                    <a class="dropdown-item" {% block export-pdf %}href="{% url 'sales-export-pdf' %}"{% endblock %}>PDF</a>
                                </div>
                            </div>
                        </span>
                        </div>
                    </div> 
                    {% endif %}            
            </form>
        </div>
        {% include 'sales/sales_list.html' %}
    </div>
</div>
{% endblock %}