{% extends "main.html" %}


{% block title %}
    Faculty Member - Add Subject Taught
{% endblock %}


{% block content %}
<p>Faculty Member - Add Subject Taught</p>

<form action="./update_taught_subjects/{{ request.user.id }}" method="post">
    {% csrf_token %}

    <a href="./">Go back</a>
    {{ current_user }}
    <div>
        <select name="handled_subjects" required id="id_handled_subjects" multiple>
            {% for value, subject in form.handled_subjects.field.choices %}
                {% if value in selected_list %}
                    <option value="{{ value }}" selected>{{ subject }}</option>
                {% else %}
                    <option value="{{ value }}">{{ subject }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    
    <button type="submit">Submit Data</button>
</form>
{% endblock %}