{% extends "main.html" %} 

{% block title %} 
    Add Researches
{% endblock %} 

{% block content %}

<h1>Add Researches</h1>

<a href="../">Go back</a>
<form action="" method="post">
    {% csrf_token %}

    <div>
        <div>
            <p>Research ID: </p>
            {{ form.faculty_id }}
        </div>
        <div>
            <p>Research Title: </p>
            {{ form.research_title }}
        </div>
        <div>
            <p>Reserach Progress: </p>
            {{ form.research_progress }}
        </div>
        <div>
            <p>Area: </p>
            {{ form.research_area }}
        </div>
        <div>
            <p>Degree Level: </p>
            {{ form.degree_level }}
        </div>
        <div>
            <p>School: </p>
            {{ form.researcher_school }}
        </div>

        <button type="submit">Add Research</button>
    </div>

    
    <!-- <div class="container_form_presented">
        <h1>Presented: </h1>
        {% for e in form_presented %}
        <div><p>{{ e.label }}</p>{{ e }}</div>
        {% endfor %}
    </div>

    <div class="container_form_published">
        <h1>Published: </h1>
        {% for e in form_published %}
        <div><p>{{ e.label }}</p>{{ e }}</div>
        {% endfor %}
    </div> -->

</form>
{% endblock %} 