{% extends 'partials/base.html' %}
{% block title %}Feed{% endblock %}
{% block headers %} DASHBOARD {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<!--Graphs-->
    <div class="mt-[10vh] dark:white w-full">
        <div class="animate fade-animator delay-1 bg-[#FF8A00] overflow-hidden w-full rounded-[20px] h-[240px] flex flex-col text-center justify-center items-center font-sans">
            <div class="z-[0] w-full h-[30vh] cover" style="opacity:0.1;background-image:url('/static/images/bulsu_logo.png');background-size:cover; background-position: center;"></div>
            <div class="z-[1] absolute">
                <p class="font-sans text-[82px] tracking-[-2px] font-bold text-white">Posts / <span class="font-normal">Feed</span></p>
            </div>
        </div>
        <a class="form-modal-toggler" title="Add Post / Announcement" href="javascript:void();" value="/announcements/add_announcements">Add Post / Announcement</a>
        <div class="mt-[4vh] grid gap-3 grid-cols-3 [&>div]:rounded-md w-full">
            {% if feeds|length > 0 %}
                {% for element in feeds %}
                    <div class="dark:bg-[#363636] bg-[#F4F4F4] p-[10px] animate glow delay-{{forloop.counter}}">
                        <strong> {{ element.title}} </strong> <br>
                        {{ element.description }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        </div>
    </div>
<!--End Graphs-->
{% else %}
    
{% endif %}
{% endblock %}