{% extends 'partials/base.html' %}
{% block title %}Feed{% endblock %}
{% block headers %} DASHBOARD {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<!--Graphs-->
    <div class="mt-[10vh] dark:white w-full">
        <div class="animate fade-animator delay-1 bg-[#FF8A00] overflow-hidden w-full rounded-[20px] h-[240px] flex flex-col text-center justify-center items-center font-sans">
            <div class="z-[0] w-full h-[30vh] cover" style="opacity:0.1;background-image:url('/static/images/bulsu_logo.png');background-size:cover; background-position: center;"></div>
            <div class="z-[1] absolute">
                <p class="font-sans text-[82px] tracking-[-2px] font-bold text-white">Posts / <span class="font-normal">Feed</span></p>
                {% if not request.user.profile.user_role == 'faculty' or request.user.is_superuser %}
                <a class="form-modal-toggler font-bold" style="background-color:white; color: orange" title="Add Post / Announcement" href="javascript:void();" value="/announcements/add_announcements">Add Post / Announcement</a>
                {% endif %}
            </div>
        </div>
        <div class="grid gap-3 mt-5" style="grid-template-columns: 70fr 30fr;">
            <div class="[&>div]:rounded-md w-full">
                <p class="font-bold text-lg ml-5">Posts Feed</p>
                <div class="grid gap-3">
                    {% if feeds|length > 0 %}
                        {% for feed in feeds %}
                            <div aria-expanded="false" aria-controls="drawer-name" data-drawer-trigger id="research-{{ research.id }}" class="trigger research-item flex flex-col justify-between bg-[#f5f5f5] dark:bg-[#363636] animate glow delay-{{forloop.counter}}" style="padding: 25px">
                                <div class="flex justify-between">
                                    <p class="font-bold" style="font-weight:bold;font-size:20px; letter-spacing: -1px; line-height: 1">{{ feed.subject|slice:":50" }}</p>
                                    {% if request.user.profile.user_role != 'faculty' %}
                                    <div class="flex gap-3 items-center">
                                        <p class="text-right text-sm">{{ feed.date_created|date:"M d, Y" }}</p>
                                        <div class="transition dropdown">
                                            <button class="font-bold transition hover:opacity-[0.5]" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="transform: translateY(-13px);">...</button>
                        
                                            <div class="p-3 dropdown-menu dropdown-menu-right" style="z-index:1000">                                                 
                                                <a class="form-modal-toggler bg-transparent border-0 text-black dark:white hover:main-theme font-bold dropdown-item p-2" title="Edit Post / Announcement" href="javascript:void();" value="/announcements/update/{{ feed.id }}">Edit</a>
                                                <div class="dropdown-divider"></div>    
                                                <a class="font-bold ignore-url dropdown-item p-2 bg-transparent" title="Edit Post / Announcement" href="/announcements/delete/{{ feed.id }}">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div>
                                    <p style="white-space:normal; max-height:70px; overflow:hidden; text-overflow:ellipsis; word-wrap: break-word">{{ feed.description }}</p>
                                </div>
                                <img src="../../media/{{feed.image}}"' style="object-fit:cover;max-height:50vh;margin-bottom:20px;border-radius: 10px"/>
                                <div class="flex justify-between">
                                    <div class="flex gap-2">
                                        {% for user in users %}
                                            {% if feed.user_id|slugify  == user.user.username|slugify %}                           
                                                <img src="/media/{{ user.image }}" class="rounded-full" style="height:20px;width:20px"/>
                                                <p class="font-bold">{{ user.user.first_name }}  {{ user.user.last_name }}</p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <p class="px-2 py flex items-center" style="font-size:10px;border:1px solid #d59c31; color:#d59c31">Post</p>
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                        <p class="text-center">No data yet.</p>
                    {% endif %}
                </div>
            </div>
            <div class="[&>div]:rounded-md w-full">
                <p class="font-bold text-lg ml-5">Announcements Feed</p>
                <div class="grid gap-3">
                    {% if feeds|length > 0 %}
                        {% for feed in feeds %}
                            <div aria-expanded="false" aria-controls="drawer-name" data-drawer-trigger id="research-{{ research.id }}" class="trigger research-item flex flex-col justify-between max-h-[200px] bg-[#f5f5f5] dark:bg-[#363636] animate glow delay-{{forloop.counter}}" style="padding: 25px">
                                <div class="flex justify-between">
                                    <p class="font-bold" style="font-weight:bold;font-size:20px; letter-spacing: -1px; line-height: 1">{{ feed.subject|slice:":50" }}</p>
                                    {% if request.user.profile.user_role != 'faculty' %}
                                    <div class="flex gap-3 items-center">
                                        <p class="text-right text-sm">{{ feed.date_created|date:"M d, Y" }}</p>
                                        <div class="transition dropdown">
                                            <button class="font-bold transition hover:opacity-[0.5]" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="transform: translateY(-13px);">...</button>
                        
                                            <div class="p-3 dropdown-menu dropdown-menu-right" style="z-index:1000">                                                 
                                                <a class="form-modal-toggler bg-transparent border-0 text-black dark:white hover:main-theme font-bold dropdown-item p-2" title="Edit Post / Announcement" href="javascript:void();" value="/announcements/update/{{ feed.id }}">Edit</a>
                                                <div class="dropdown-divider"></div>    
                                                <a class="font-bold ignore-url dropdown-item p-2 bg-transparent" title="Edit Post / Announcement" href="/announcements/delete/{{ feed.id }}">Delete</a>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div>
                                    <p style="white-space:normal; max-height:70px; overflow:hidden; text-overflow:ellipsis; word-wrap: break-word">{{ feed.description }}</p>
                                </div>              
                                <div class="flex justify-between">
                                    <div class="flex gap-2">
                                        {% for user in users %}
                                            {% if feed.user_id|slugify  == user.user.username|slugify %}                           
                                                <img src="/media/{{ user.image }}" class="rounded-full" style="height:20px;width:20px"/>
                                                <p class="font-bold">{{ user.user.first_name }}  {{ user.user.last_name }}</p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                        <p class="text-center">No data yet.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
<!--End Graphs-->
{% else %}
    
{% endif %}
{% endblock %}