{% extends "main.html" %}


{% block title %}
    Faculty Member Side
{% endblock %}


{% block content %}
  <h1>Faculty Member Side</h1>
  

  <h1>User Logged In: </h1>
  <div><p>ID: {{ request.user.id }}</p></div>
  <div><p>First Name: {{ request.user.first_name }}</p></div>
  <div><p>Last Name: {{ request.user.last_name }}</p></div>
  <div><p>User Profile: <img src="{{ user.profile.image.url }}" alt=""></p></div>
  <br><br><br><br><br>
  <p>Sidebar: </p>

  <div>
    <a class="text-2xl" href="./subject_taught/">Subject Taught</a>
  </div>
  <div>
    <a href="./researches/">Researches</a>
  </div>
  <div>
    <a href="./extension_services/">Extensions Services</a>
  </div>
  <div>
    <a href="./view_announcements/">View Announcements</a>
  </div>

{% endblock %}