{% extends "main.html" %}


{% block title %}
    Faculty Member - Extension Services
{% endblock %}


{% block content %}
    <h3>Extension Services</h3>
    <a href="../">Go back to Home</a>
    <br>
    <a href="./add_service">Add Services</a>
    
    {% if all_extension_services|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>Extension Name</th>
                <th>Extension Head</th>
                <th>Logo</th>
                <th>Geo. Address</th>
                <th>Email Address</th>
                <th>Contact</th>
                <th>Website</th>
                <th>Background</th>
                <th>ext_offeredprograms_id</th>
                <th>ext_collaborator_id</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for element in all_extension_services %}
            <tr>
                <td>{{ element.name }}</td>
                <td>{{ element.logo }}</td>
                <td>{{ element.address }}</td>
                <td>{{ element.email }}</td>
                <td>{{ element.contact_no }}</td>
                <td>{{ element.website }}</td>
                <td>{{ element.background }}</td>
                <td>{{ element.extension_head }}</td>
                <td>{{ element.ext_offeredprograms_id }}</td>
                <td>{{ element.ext_collaborator_id }}</td>
                <td>
                    <a href="">Update</a>
                    <a href="">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h1>No data available.</h1>
    {% endif %}
{% endblock %}