{% extends "main.html" %}


{% block title %}
    Faculty Member - Researches
{% endblock %}


{% block content %}
    <h3>Researches</h3>
    <a href="../">Go back to Home</a>

    <br>
    <a href="./add_research">Add Researches</a>

    {% if all_researches|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Research Title</th>
                <th>Progress</th>
                <th>Area</th>
                <th>School</th>
                <th>Degree Level</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for element in all_researches %}
            <tr>
                <td>{{ element.faculty_id }}</td>
                <td>{{ element.research_title }}</td>
                <td>{{ element.research_progress }}</td>
                <td>{{ element.research_area }}</td>
                <td>{{ element.researcher_school }}</td>
                <td>{{ element.degree_level }}</td>

                <td>
                    <a href="#">Update</a>
                    <a href="./delete_research/{{ element.id }}">Delete</a>
                    <a href="#">Update Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <h1>No data available.</h1>
    {% endif %}
{% endblock %}