{% extends "main.html" %}


{% block title %}
    Faculty Member - Researches
{% endblock %}


{% block content %}
    <h3>Researches</h3>
    <a href="../">Go back to Home</a>

    <br>
    <a href="./add_research">Add Researches</a>

    <!-- Research Ongoing -->
    <h1>All Researches: </h1>
    {% if research_ongoing|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ID</th>
                <th>Research Title</th>
                <th>Area</th>
                <th>abstract</th>
                <th>document</th>
                <th>date_added</th>
                <th>School</th>
                <th>Degree Level</th>
                <th>Progress</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for element in research_ongoing %}
            <tr>
                <td>{{ element.id }}</td>
                <td>{{ element.faculty_id }}</td>
                <td>{{ element.research_title }}</td>
                <td>{{ element.research_area }}</td>
                <td>{{ element.abstract }}</td>
                <td>{{ element.document }}</td>
                <td>{{ element.date_added }}</td>
                <td>{{ element.researcher_school }}</td>
                <td>{{ element.degree_level }}</td>
                <td>{{ element.research_progress }}</td>

                <td>
                    <a href="./update_research/{{ element.id }}">Update</a>
                    <a href="./delete_research/{{ element.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h3>No data available.</h3>
    {% endif %}

    <h1>Ongoing: </h1>
    {% if research_ongoing_filtered|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ID</th>
                <th>Research Title</th>
                <th>Area</th>
                <th>abstract</th>
                <th>document</th>
                <th>date_added</th>
                <th>School</th>
                <th>Degree Level</th>
                
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for element in research_ongoing_filtered %}
            <tr>
                <td>{{ element.id }}</td>
                <td>{{ element.faculty_id }}</td>
                <td>{{ element.research_title }}</td>
                <td>{{ element.research_area }}</td>
                <td>{{ element.abstract }}</td>
                <td>{{ element.document }}</td>
                <td>{{ element.date_added }}</td>
                <td>{{ element.researcher_school }}</td>
                <td>{{ element.degree_level }}</td>
                

                <td>
                    <a href="./update_research/{{ element.id }}">Update</a>
                    <a href="./delete_research/{{ element.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h3>No data available.</h3>
    {% endif %}

    <br><br><br><br><br>
    <a href="./add_presented">Add Presented</a>
    <!-- Research Presented -->
    <h1>Presented: </h1>
    {% if research_presented|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>Research ID</th>
                <td>short_name</td>
                <td>event_name</td>
                <td>event_venue</td>
                <td>event_start_date</td>
                <td>event_end_date</td>
                <td>presentation_type</td>
                <td>event_type</td>
                <td>org_name</td>
                <td>org_website_url</td>
                <td>org_support</td>
                <td>org_description</td>
                <td>date_presented</td>
            </tr>
        </thead>

        <tbody>
            {% for element in research_presented %}
            <tr>
                <td>ID: {{ element.id }}, <b>Presented: </b>{{element.presented_id}}</td>
                <td>{{element.short_name}}</td> 
                <td>{{element.event_name}}</td> 
                <td>{{element.event_venue}}</td> 
                <td>{{element.event_start_date}}</td> 
                <td>{{element.event_end_date}}</td> 
                <td>{{element.presentation_type}}</td> 
                <td>{{element.event_type}}</td> 
                <td>{{element.org_name}}</td> 
                <td>{{element.org_website_url}}</td> 
                <td>{{element.org_support}}</td> 
                <td>{{element.org_description}}</td> 
                <td>{{element.date_presented}}</td> 
                <td>
                    <a href="./update_research/{{ element.id }}">Update</a>
                    <a href="./delete_research/{{ element.id }}">Delete</a>
                    <a href="#">Update Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <h3>No data available.</h3>
    {% endif %}
    
    <br><br><br><br><br>
    <a href="./add_published">Add Published</a>
    <!-- Research Published -->
    <h1>Published: </h1>
    {% if research_published|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>Research ID</th>
                <th>published_date</th>
                <th>publication</th>
                <th>source</th>
                <th>research_license</th>
                <th>abstract</th>
            </tr>
        </thead>

        <tbody>
            {% for element in research_published %}
            <tr>
                <td>ID: {{ element.id }}, <b>Published ID: </b>{{ element.published_id }}</td>
                <td>{{ element.published_date }}</td>
                <td>{{ element.publication }}</td>
                <td>{{ element.source }}</td>
                <td>{{ element.research_license }}</td>
                <td>{{ element.abstract }}</td>
                <td>
                    <a href="./update_research/{{ element.id }}">Update</a>
                    <a href="./delete_research/{{ element.id }}">Delete</a>
                    <a href="#">Update Details</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% else %}
        <h3>No data available.</h3>
    {% endif %}

{% endblock %}