{% extends 'partials/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block headers %} DASHBOARD {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<!--Graphs-->
    <div class="w-full">
        <div class="chart grid w-full mt-[5vh]">
            <div class="mt-[4vh] dark:white w-full">
                <div class="grid gap-3 grid-cols-3 grid-rows-4 [&>div]:rounded-md min-h-screen w-full">
                    <div class="dark:bg-[#363636] bg-[#F4F4F4] p-[10px] grid col-span-1 row-span-1 animate fade-animator delay-1">
                        <p>Stat Chart</p>
                        <p class="font-sans text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                    </div>
                    <div class="dark:bg-[#363636] bg-[#F4F4F4] p-[10px] grid col-span-1 row-span-1 animate fade-animator delay-2">
                        <p>Stat Chart</p>
                        <p class="font-sans text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                    </div>
                    <div class="dark:bg-[#363636] bg-[#F4F4F4] p-[10px] grid col-span-1 row-span-1 animate fade-animator delay-3">
                        <p>Stat Chart</p>
                        <p class="font-sans text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                        <div id='calendar'></div>
                    </div>
                    <div class="dark:bg-[#363636] bg-[#F4F4F4] p-[10px] grid col-span-2 row-span-2 animate fade-animator delay-4">
                        <p>Stat Chart</p>
                        <p class="font-sans text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                        <div id="chart2" class="dark:darkChart"></div>
                    </div>
                    <div class="dark:bg-[#363636] bg-[#F4F4F4] p-[10px] grid col-span-1 row-span-2 animate fade-animator delay-5">
                        <p>Stat Chart</p>
                        <p class="font-sans text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                        <div id="chart" class="dark:darkChart"></div>
                    </div>
                    <div class="dark:bg-[#363636] bg-[#F4F4F4] p-[10px] grid col-span-3 row-span-1 animate fade-animator delay-6">
                        <p>Stat Chart</p>
                        <p class="font-sans text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                    </div>
                </div>
            </div>
            <script src="../static/js/chartDefault.js"></script>
            
            <script>
                var options = chartDefault('area',[{% for months in monthly_sales.index %} '{{ months }}', {% endfor %}], [{% for total in monthly_sales.total %} {{ total }}, {% endfor %}])
                var chart = new ApexCharts(document.querySelector("#chart"), options);
                chart.render();

                var options2 = chartDefault('bar',[{% for product in products_count %} '{{ product.product_title|truncatechars:15 }}', {% endfor %}], [{% for product in products_count %} '{{ product.total }}', {% endfor %}])
                var chart2 = new ApexCharts(document.querySelector("#chart2"), options2);
                chart2.render();
            </script>
            <script>

                document.addEventListener('DOMContentLoaded', function() {
                  var calendarEl = document.getElementById('calendar');
                  var calendar = new FullCalendar.Calendar(calendarEl, {
                    initialView: 'dayGridMonth'
                  });
                  calendar.render();
                });

              </script>
        </div>
    </div>
<!--End Graphs-->
{% else %}
    
{% endif %}
{% endblock %}