{% extends 'partials/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block headers %} DASHBOARD {% endblock %}

{% block content %}

{% if user.is_authenticated %}
<!--Graphs-->
    <div class="w-full" style="margin-top:10vh">
        <div class="chart grid w-full mt-[5vh]">
            <div class="animate fade-animator delay-1 bg-[#FF8A00] overflow-hidden w-full h-[240px] flex flex-col text-center justify-center items-center font-sans">
                <div class="z-[0] w-full h-[30vh] cover" style="opacity:0.1;background-image:url('/static/images/bulsu_logo.png');background-size:cover; background-position: center;"></div>
                <div class="z-[1] absolute">
                    <p class="font-sans text-[82px] tracking-[-2px] font-bold text-white">Welcome / <span class="font-normal">dashboard</span></p>
                </div>
            </div>
            <div class="grid grid-cols-4 gap-4 text-center" style="padding: 10vw">
                <a href="/researches/selector" class="grid gap-3 form-modal-toggler bg-transparent border-0" title="Add Research" class="grid gap-2">
                    <div class="dashboard-item p-6 flex justify-center items-center rounded-md dark:bg-[#2D2D2D] shadow-[0_2px_0_2px_rgba(73,80,87,0.15)] dark:shadow-[0_2px_0_2px_rgba(73,80,87,0.35)] bg-[#dadada]" style="transition: 0s;">
                        <img src="/static/images/icon-nav_research.svg" style="height: 5vw">
                    </div>
                    <p>Add Research</p>
                </a>
                <a href="/announcements/add_announcements" class="grid gap-3 form-modal-toggler bg-transparent border-0" title="Add Research" class="grid gap-2">
                    <div class="dashboard-item p-6 flex justify-center items-center rounded-md dark:bg-[#2D2D2D] shadow-[0_2px_0_2px_rgba(73,80,87,0.15)] dark:shadow-[0_2px_0_2px_rgba(73,80,87,0.35)] bg-[#dadada]" style="transition: 0s;">
                        <img src="/static/images/icon-nav_feed.svg" style="height: 5vw">
                    </div>
                    <p>Add Post</p>
                </a>
                <a href="/subjects/add_subject" class="grid gap-3 form-modal-toggler bg-transparent border-0" title="Add Research" class="grid gap-2">
                    <div class="dashboard-item p-6 flex justify-center items-center rounded-md dark:bg-[#2D2D2D] shadow-[0_2px_0_2px_rgba(73,80,87,0.15)] dark:shadow-[0_2px_0_2px_rgba(73,80,87,0.35)] bg-[#dadada]" style="transition: 0s;">
                        <img src="/static/images/icon-nav_subject.svg" style="height: 5vw">
                    </div>
                    <p>Add Subject</p>
                </a>
                <a href="/extension_services/add_service" class="grid gap-3 form-modal-toggler bg-transparent border-0" title="Add Research" class="grid gap-2">
                    <div class="dashboard-item p-6 flex justify-center items-center rounded-md dark:bg-[#2D2D2D] shadow-[0_2px_0_2px_rgba(73,80,87,0.15)] dark:shadow-[0_2px_0_2px_rgba(73,80,87,0.35)] bg-[#dadada]" style="transition: 0s;">
                        <img src="/static/images/icon-nav_extension.svg" style="height: 5vw">
                    </div>
                    <p>Add Extension</p>
                </a>
                <a href="/research" class="grid gap-3 form-modal-toggler bg-transparent border-0" title="Add Research" class="grid gap-2">
                    <div class="dashboard-item p-6 flex justify-center items-center rounded-md dark:bg-[#2D2D2D] shadow-[0_2px_0_2px_rgba(73,80,87,0.15)] dark:shadow-[0_2px_0_2px_rgba(73,80,87,0.35)] bg-[#dadada]" style="transition: 0s;">
                        <img src="/static/images/icon-nav_research.svg" style="height: 5vw">
                    </div>
                    <p>View Summary of Researches</p>
                </a>
                <a href="/departments/view" class="grid gap-3 form-modal-toggler bg-transparent border-0" title="Add Research" class="grid gap-2">
                    <div class="dashboard-item p-6 flex justify-center items-center rounded-md dark:bg-[#2D2D2D] shadow-[0_2px_0_2px_rgba(73,80,87,0.15)] dark:shadow-[0_2px_0_2px_rgba(73,80,87,0.35)] bg-[#dadada]" style="transition: 0s;">
                        <img src="/static/images/icon-nav_research.svg" style="height: 5vw">
                    </div>
                    <p>View Departments</p>
                </a>
                <a href="/reports" class="grid gap-3 bg-transparent border-0" title="Add Research" class="grid gap-2">
                    <div class="dashboard-item p-6 flex justify-center items-center rounded-md dark:bg-[#2D2D2D] shadow-[0_2px_0_2px_rgba(73,80,87,0.15)] dark:shadow-[0_2px_0_2px_rgba(73,80,87,0.35)] bg-[#dadada]" style="transition: 0s;">
                        <img src="/static/images/icon-nav_reports.svg" style="height: 5vw">
                    </div>
                    <p>View Reports</p>
                </a>
                <a href="/admin" class="grid gap-3 form-modal-toggler bg-transparent border-0" title="Add Research" class="grid gap-2">
                    <div class="dashboard-item p-6 flex justify-center items-center rounded-md dark:bg-[#2D2D2D] shadow-[0_2px_0_2px_rgba(73,80,87,0.15)] dark:shadow-[0_2px_0_2px_rgba(73,80,87,0.35)] bg-[#dadada]" style="transition: 0s;">
                        <img src="/static/images/icon-nav_research.svg" style="height: 5vw">
                    </div>
                    <p>Django Admin</p>
                </a>
            </div>
            <div class="mt-[4vh] dark:white w-full">
                <div class="grid gap-3 grid-cols-3 [&>div]:rounded-md w-full">
                    <div class="dark:bg-[#363636] bg-[#F4F4F4] p-[10px] grid col-span-1 row-span-1 animate fade-animator delay-1">
                        <p>Welcome to FacMaSys</p>
                        
                    </div>
                    <div class="dark:bg-[#363636] bg-[#F4F4F4] p-[10px] grid col-span-1 row-span-1 animate fade-animator delay-2">
                        <p>Stat Chart</p>
                        <p class="font-sans text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                    </div>
                    <div class="dark:bg-[#363636] bg-[#F4F4F4] p-[10px] grid col-span-1 row-span-1 animate fade-animator delay-3">
                        <div id='calendar'></div>
                    </div>
                    <div class="dark:bg-[#363636] bg-[#F4F4F4] p-[10px] grid col-span-2 row-span-2 animate fade-animator delay-4">
                        <p>Stat Chart</p>
                        <p class="font-sans text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                        <div id="chart2" class="dark:darkChart"></div>
                    </div>
                    <div class="dark:bg-[#363636] bg-[#F4F4F4] p-[10px] grid col-span-1 row-span-2 animate fade-animator delay-5">
                        <p>Stat Chart</p>
                        <p class="font-sans text-xs">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do </p>
                        <div id="chart" class="dark:darkChart"></div>
                    </div>
                </div>
            </div>
            <script src="../static/js/chartDefault.js"></script>
            
            <script>
                var options = chartDefault('area',[{% for months in monthly_sales.index %} '{{ months }}', {% endfor %}], [{% for total in monthly_sales.total %} {{ total }}, {% endfor %}])
                var chart = new ApexCharts(document.querySelector("#chart"), options);
                chart.render();

                var options2 = chartDefault('bar',[{% for product in products_count %} '{{ product.product_title|truncatechars:15 }}', {% endfor %}], [{% for product in products_count %} '{{ product.total }}', {% endfor %}])
                var chart2 = new ApexCharts(document.querySelector("#chart2"), options2);
                chart2.render();
            </script>
<script type="text/javascript">
                $(document).ready(function(){
                    $("#calendar").simpleCalendar({
                        months: ['January','February','March','April','May','June','July','August','September','October','November','December'],
                        days: ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday'],
                        displayYear: true,              // Display year in header
                        fixedStartDay: true,            // Week begin always by monday or by day set by number 0 = sunday, 7 = saturday, false = month always begin by first day of the month
                                    });
                                });

              </script>
        </div>
    </div>
<!--End Graphs-->
{% else %}
    
{% endif %}
{% endblock %}