{% extends 'partials/base.html' %}
{% block title %} Register Page {% endblock %}
{% block headers %} REGISTER PAGE {% endblock %}
{% load crispy_forms_tags %}

{% block content %}


<style>
    body {
        background-image: url('/static/images/bg_gray.png');
    }
</style>

<div style="margin-top: 64px;">

    <nav class="navbar navbar-expand-sm navbar-light mb-2" style="background-color: rgba(248, 249, 250, 0.85);">
    
        <div class="mx-4" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'faculty-index' %}"> <img src="/static/images/icon_back_btn.png" style="width:13px; height:13px;" alt="Back Button"> Back to Account </a>               
            </li>       
        </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">
                <div class="border bg-light p-5">
                    <h3>Register new admin</h3>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <select class="form-select" name="user-type" aria-label="User Type">
                            <option value="cashier" selected>Cashier</option>
                            <option value="admin">Admin</option>
                        </select>
                        <div class="row mx-1 mt-3">
                            <input class="btn btn-primary" type="submit" value="Register">
                        </div>                       
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}