{% extends 'partials/base.html' %}
{% block title %}Staff Page{% endblock %}
{% block headers %} ACCOUNTS {% endblock %}
{% load static %}
{% block content %}
<style>
        body {
            background: #eef1f2;
            overflow-x: hidden;
            
        }
</style>

<div style="margin-top: 64px;">
    
    <!-- NAVIGATION LAYER 2 -->
    <nav class="navbar navbar-expand-sm navbar-light bg-white mb-2">    
        <div class="mx-4" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">            
                <li class="nav-item mr-2">
                <a class="nav-link" href="{% url 'faculty-index' %}"><span class="default-state {% if view.inventorypage_active == 'staff' or inventorypage_active == 'staff' %} inventorytab-active {% endif %}">STAFF</span></a>
                </li>
                <li class="nav-item mr-2">
                <a class="nav-link" href="{% url 'dashboard-customer' %}"><span class="default-state {% if view.inventorypage_active == 'customer' or inventorypage_active == 'customer' %} inventorytab-active {% endif %}">CUSTOMER</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div>
        <div class="my-3 mx-4">
            {% block filters %}
            <form class="form-inline my-2 my-lg-0" 
                hx-target="#item-list" 
                hx-swap="outerHTML"
                hx-trigger="submit, input delay:0.3s" method="get">
                    <div class="col-mr-1">
                        <div>
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
                        </div>
                    </div>
                    {% endblock %}
                    <div class="col">
                        <div class="float-right">
                            <span class="tooltips_top"> 
                                <a class="btn btn-primary" href=" {% url 'register-admin' %}">
                                    <span class="tooltiptext_top"> New Admin </span> 
                                    <img src="../../static/images/icon_add_admin.png" style="width:22px; height:22px;" alt="Add New Admin">
                                </a>                          
                            </span>
                        </div>
                    </div>
            </form>
                  
        </div>
        <div id="item-list">
            <div class="mx-4">
                <table class="table bg-white text-center">
                    <thead>
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number:</th>
                        <th scope="col">Role:</th>
                        <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for worker in page %}
                        <tr>
                            <td>{{ worker.username }}</td>
                            <td>{{ worker.email }}</td>
                            <td>{{ worker.profile.phone }}</td>
                            <td> {% if worker.is_superuser %}Super Admin{% elif worker.is_staff %}Admin{% else %}Cashier {% endif %}</td>
                            <th scope="row">                                
                                <span class="tooltips_top"> 
                                    <a class="form-modal-toggler bg-transparent border-0 text-black dark:white hover:main-theme font-bold dropdown-item p-2" title="Edit Post / Announcement" href="javascript:void();" href="javascript:void();" value="{% url 'faculty-index-detail' worker.id %}">
                                        <span class="tooltiptext_top"> View Staff </span> 
                                        <img src="{% static 'images/icon_view.png' %}" style="width:18px; height:18px;" alt="View Product">
                                    </a>
                                </span>
                            
                            </th>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!----- SHOWING X OF X STAFF ----->
            <p class="font-sans ml-4 text-muted">  
                Showing <strong> {{count}} </strong>  of  <strong> {{count}} </strong> Staff
                &nbsp;&nbsp; | &nbsp;&nbsp; 
                Page: <strong> {{ page.number }} </strong> / <strong> {{ page.paginator.num_pages }} </strong> 
            </p>

                <!----- PAGINATION ----->
                <div class="row my-1">
                    <div class="col d-flex justify-content-center">
                        <nav aria-label="...">
                            <ul class="pagination">
                                <li class="page-item">
                                {% if page.has_previous %}
                                    <a class="page-link" href="{% url 'faculty-index' %}?page={{ page.previous_page_number }}">Previous</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="">Previous</a>
                                </li>
                                {% endif %}

                                {% for num_page in page.paginator.page_range %}
                                <br>
                                {% if page.number == num_page %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="{% url 'faculty-index' %}?page={{ num_page }}">{{ num_page }}</a>
                                </li>
                                {% else %}
                                <li class="page-item" aria-current="page">
                                    <a class="page-link" href="{% url 'faculty-index' %}?page={{ num_page }}">{{ num_page }}</a>
                                </li>
                                {% endif %}
                                <br>
                                {% endfor %}
                            
                                <li class="page-item">
                                {% if page.has_next %}
                                    <a class="page-link" href="{% url 'faculty-index' %}?page={{ page.next_page_number }}">Next</a>
                                </li>
                                {% else %}
                                <li class="page-item disabled">
                                    <a class="page-link" href="">Next</a>
                                </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
        </div>
    </div>
</div>
{% endblock %}