{% extends "main.html" %}


{% block title %}
    Department Head
{% endblock %}


{% block content %}
    <a href="./announcements">Announcements</a>
    <h1>Department Head</h1>
    
    {% if all_faculty_teach|length > 0 %}
    <table>
        <thead>
            <th>ID</th>
            <th>Subjects</th>
        </thead>
        <tbody>
            {% for element in all_faculty_teach %}
                <tr>
                    <td>{{ element.id }}</td>
                    <td>{{ element.handled_subjects.all.values }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h3>No data available.</h3>
    {% endif %}
{% endblock %}