{% extends "main.html" %}


{% block title %}
    Extension Coordinator Side
{% endblock %}


{% block content %}
    <h1>Extension Coordinator</h1>
    <a href="./announcements">Announcements</a>
    <table>
        <thead>
            <th>ID</th>
            <th>Faculty ID</th>
            <th>Extension Name</th>
            <th>Extension Head</th>
            <!-- <th>Logo</th> -->
            <th>Geo. Address</th>
            <th>Email Address</th>
            <th>Contact</th>
            <th>Website</th>
            <th>Background</th>
        </thead>
        <tbody>
            {% for element in extensions %}
            <tr>
                <td>{{ element.id }}</td>
                <td>{{ element.faculty_id }}</td>
                <td>{{ element.name }}</td>
                <!-- <td>{{ element.logo }}</td> -->
                <td>{{ element.address }}</td>
                <td>{{ element.email }}</td>
                <td>{{ element.contact_no }}</td>
                <td>{{ element.website }}</td>
                <td>{{ element.background }}</td>
                <td>{{ element.extension_head }}</td>
                <td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}