{% extends "main.html" %}


{% block title %}
    Faculty Member - Add Extension Services
{% endblock %}


{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="grid gap-3">
            <div><p>Extension Name: </p><p>{{ form.name }}</p></div>
            <div><p>Logo: </p><p>{{ form.logo }}</p></div>
            <div><p>Geo. Address: </p><p>{{ form.address }}</p></div>
            <div><p>E-mail Address: </p><p>{{ form.email }}</p></div>
            <div><p>Contact No.: </p><p>{{ form.contact_no }}</p></div>
            <div><p>Website URL: </p><p>{{ form.website }}</p></div>
            <div><p>Background: </p><p>{{ form.background }}</p></div>
            <div><p>Extension Head: </p><p>{{ form.extension_head }}</p></div>
            {{ form.errors }}
            {{ form.non_field_errors }}
            
            <button type="submit">Submit Form</button>
        </div>
    </form>
{% endblock %}