{% extends 'partials/base.html' %}
{% block title %}Extension Services{% endblock %}
{% block headers %} EXTENSION SERVICES {% endblock %}


{% block content %}
    <h3>Extension Services</h3>
    <a href="../">Go back to Home</a>
    <br>
    {% if request.user.profile.user_role == 'faculty' or request.user.is_superuser %}
        <a class="form-modal-toggler" href="javascript:void();" title="Add Services" value="./add_service">Add Services</a>
    {% endif %}
    
    {% if all_extension_services|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Extension Name</th>
                <th>Extension Head</th>
                <!-- <th>Logo</th> -->
                <th>Geo. Address</th>
                <th>Email Address</th>
                <th>Contact</th>
                <th>Website</th>
                <th>Background</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for element in all_extension_services %}
            <tr>
                <td>{{ element.id }}</td>
                <td>{{ element.name }}</td>
                <!-- <td>{{ element.logo }}</td> -->
                <td>{{ element.address }}</td>
                <td>{{ element.email }}</td>
                <td>{{ element.contact_no }}</td>
                <td>{{ element.website }}</td>
                <td>{{ element.background }}</td>
                <td>{{ element.extension_head }}</td>
                <td>
                    <a href="./edit_service/{{ element.id }}">Update</a>
                    <a href="./delete_service/{{ element.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h1>No data available.</h1>
    {% endif %}
{% endblock %}