{% extends 'partials/base.html' %}
{% block title %}Extension Services{% endblock %}
{% block headers %} EXTENSION SERVICES {% endblock %}


{% block content %}
<div class="mt-[10vh] dark:white w-full">
    <div style="margin-bottom:2vh" class="animate fade-animator delay-1 bg-[#FF8A00] overflow-hidden w-full rounded-[20px] h-[240px] flex flex-col text-center justify-center items-center font-sans">
        <div class="z-[0] w-full h-[30vh] cover" style="opacity:0.1;background-image:url('/static/images/bulsu_logo.png');background-size:cover; background-position: center;"></div>
        <div class="z-[1] absolute">
            <p class="font-sans text-[82px] tracking-[-2px] font-bold text-white">Extension / <span class="font-normal">Services</span></p>
            <a class="form-modal-toggler" style="background-color:white; color: orange" title="Add Service" href="javascript:void();" value="./add_service">Add Service</a>
        </div>
    </div>
    {% if all_extension_services|length > 0 %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Extension Name</th>
                <th>Extension Head</th>
                <!-- <th>Logo</th> -->
                <th>Geo. Address</th>
                <th>Email Address</th>
                <th>Contact</th>
                <th>Website</th>
                <th>Background</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            {% for element in all_extension_services %}
            <tr>
                <td>{{ element.id }}</td>
                <td>{{ element.name }}</td>
                <!-- <td>{{ element.logo }}</td> -->
                <td>{{ element.address }}</td>
                <td>{{ element.email }}</td>
                <td>{{ element.contact_no }}</td>
                <td>{{ element.website }}</td>
                <td>{{ element.background }}</td>
                <td>{{ element.extension_head }}</td>
                <td>
                    <a href="./edit_service/{{ element.id }}">Update</a>
                    <a href="./delete_service/{{ element.id }}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="text-center mt-5">No data available.</p>
    {% endif %}
{% endblock %}
</div>