{% extends 'partials/base.html' %}
{% block title %}Faculty{% endblock %}
{% block headers %} FACULTY {% endblock %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load static %}
{% block content %}

<div class="mt-[10vh] dark:white w-full">
    <div class="animate fade-animator delay-1 bg-[#FF8A00] overflow-hidden w-full rounded-[20px] h-[240px] flex flex-col text-center justify-center items-center font-sans">
        <div class="z-[0] w-full h-[30vh] cover" style="opacity:0.1;background-image:url('/static/images/bulsu_logo.png');background-size:cover; background-position: center;"></div>
        <div class="z-[1] absolute">
            <p class="font-sans text-[82px] tracking-[-2px] font-bold text-white">Faculty / <span class="font-normal">Users</span></p>
        </div>
    </div>
    
    {% comment %} <!-- NAVIGATION LAYER 2 -->
    <nav class="navbar navbar-expand-sm navbar-light bg-white mb-2">    
        <div id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">    
                {% if request.user.is_staff %}        
                <li class="nav-item mr-2">
                <a class="nav-link" href="{% url 'faculty-index' %}"><span class="default-state navtab-active">STAFF</span></a>
                </li>
                {% endif %}
                <li class="nav-item mr-2">
                <a class="nav-link" href="{% url 'dashboard-customer' %}"><span class="default-state">CUSTOMER</span></a>
                </li>
            </ul>
        </div>
    </nav> {% endcomment %}

    <div class="animate fade-animator delay-2">
        <div class="my-3">
            {% block filters %}
            <form class="form-inline my-2 my-lg-0" method="get">
                    {% endblock %}
                    {% comment %} <div class="col">
                        <div class="float-right">
                            <span class="tooltips_top"> 
                                <a class="btn btn-primary" href=" {% url 'register-admin' %}">
                                    <span class="tooltiptext_top"> New Admin </span> 
                                    <img src="../../static/images/icon_add_admin.png" style="width:22px; height:22px;" alt="Add New Admin">
                                </a>                          
                            </span>
                        </div>
                    </div> {% endcomment %}
            </form>
            
        </div>
        <div id="item-list">
            <div>
                {% render_table table %}
            </div>
        </div>
    </div>
</div>
{% endblock %}