<!DOCTYPE html>
<html class="h-full {{theme}}" lang="en">
  <head>
    {% load static %}
    {% load crispy_forms_tags %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    
    <!--<link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" media="screen">--> 
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="{% static 'css/dist/styles.css' %}">
    <link rel="stylesheet" href="{% static './../tailwind_theme/static/css/dist/styles.css' %}"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    crossorigin="anonymous"></script>

    <title>FacMaSys - Faculty Management System</title>
  </head>

  <body class="w-screen h-full transition-all dark:bg-[#2A2A2A]">
    <div class="flex min-h-full" id="main-body">
      <div class="flex flex-col justify-center flex-1 px-4 my-12 sm:mx-6 lg:flex-none lg:mx-20 xl:mx-24 ">
        <div class="w-full max-w-sm mx-auto lg:w-96">
          <div>
            <div class="flex gap-x-4">
              <div class="flex gap-x-2">
                <img class="w-auto h-12" src="{% static '/images/logo_bulsu-colored.png' %}"/>
                <img class="w-auto h-12" src="{% static '/images/logo_cict-colored.png' %}"/>
              </div>
              <img class="w-auto h-12" src="{% static '/images/logo.png' %}"/>
            </div>  
            <h2 class="mt-6 text-3xl font-bold text-gray-900 dark:white">Sign in to your account</h2>
          </div>
    
          <div class="mt-8">
            <div class="mt-6">
              <form class="dark:white" id="formLogin" method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              
              <button class="my-4 btn btn-primary btn-lg btn-block" id="loginBtn" type="submit" style="background-color:#7a5117;">Login</button>
              
              <div class="row d-flex justify-content-center">
                <a class="mx-4 dark:white" href="{% url 'password_reset' %}" style="color:#173f7a;">Forgot Password</a>
                <a class="mx-4 dark:white" href="{% url 'user-register' %}" style="color:#173f7a;">Don't have an account yet? Go to signup</a>
              </div>       
          </form>
            </div>
          </div>
        </div>
      </div>
      <div class="relative flex-1 hidden w-0 m-3 lg:block">
        
        <div class="flex justify-center items-center absolute inset-0 rounded-[20px] w-full h-full overflow-hidden bg-center" style="background-position:bottom !important;background-size:cover !important;background:url('{% static '/images/bg_login.JPG' %}')" alt="">
          <p style="transform:translateY(10px) !important; right:40px;top:30px" value="Toggle Dark/Light Mode" class="z-[200] absolute animate glow delay-7 themeToggler sidebarItem cursor-pointer dark:white no-underline grid grid-flow-col gap-2 items-center place-items-center justify-center hover:sidebarItemActive" id="text_link">                                                                                    
            <img src="{% static 'images/light.svg' %}" style="height: 30px; width:auto" class="invert"/>                   
            <span class="cursor-pointer text-white">Toggle</span>
          </p>
          <div style="z-index:1;width:100vw;height:100vw;position:absolute; background: rgba(143, 76, 0, 0.5)"></div>
          <div class="z-[200] grid grid-flow-col items-center">
            <span class="text-white font-bold" style="line-height:0.8;font-size:8vw">FAC<br/>MA<br/>SYS</span>
            <span class="text-white ml-5" style="line-height:1;font-size:1vw">College of<br/>Information and <br/>Communications<br/>Technology<br/><br/><p class="text-[10px]">Faculty<br/>Management<br/>System</p></span>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" defer
  src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" crossorigin="anonymous"></script>
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
  crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js" crossorigin="anonymous"></script>
  
  <script src="{% static 'js/sidebar.js' %}"></script>
  <script>$('.dropdown-toggle').dropdown('toggle')</script>
</html>