{% extends 'partials/base.html' %}
{% block title %} Forgot Password Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}

{% else %}
<style>
    body {
        background-image: url('/static/images/bg_rev.png');
    }
</style>

<div style="margin-top: 200px;">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">               
                <div class="border bg-light p-5">
               
                    <h3>Password Reset Sent</h3>
                    <hr>
                    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                    <a class="nav-link" href="{% url 'user-login' %}"> <img src="/static/images/icon_back_btn.png" style="width:13px; height:13px;" alt="Back Button"> Back to Login </a>               
                                
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}



{% endblock %}