{% extends 'partials/base.html' %}
{% block title %}Forgot Password Page{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% if user.is_authenticated %}

{% else %}
<style>
    body {
        background-image: url('/static/images/bg_rev.png');
    }
</style>

<div style="margin-top: 250px;">
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-6 offset-md-3">               
                <div class="border bg-light p-5">
                    <h3>Password Reset Complete</h3>
                    <hr>
                    <p>Your password has been set. You may go ahead and log in now</p>
                    <a class="nav-link" href="{% url 'user-login' %}"> <img src="/static/images/icon_back_btn.png" style="width:13px; height:13px;" alt="Back Button"> Go to Login </a> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}