{% extends 'partials/base.html' %}
{% block title %}Staff Detail Page{% endblock %}
{% block headers %} UPDATE ACCOUNT {% endblock %}
{% load crispy_forms_tags %}
{% block content %}

{% if not ajax %}
<div style="margin-top: 10vh;">
    <div class="container-fluid">
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form|crispy }}
            {{ profile_form|crispy }}
            <input class="btn btn-info" type="submit" value="Update">
        </form>      
            {% if not ajax %}
    </div>
</div>
{% endif %}
{% endblock %}