{% extends 'partials/base.html' %}
{% block title %}Staff Detail Page{% endblock %}
{% block headers %} VIEW ACCOUNT {% endblock %}
{% load static %}
{% block content %}

<script type="text/javascript" defer>
    $(window).on('load', function() {
        $('.toast').toast();
        {% if messages %}
            $('.toast').show();
        {% endif %}
        {% block script %}
        
        {% endblock %}
    });

</script>

<div style="margin-top: 64px;" class="dark:white flex flex-col gap-3">
    <div class="animate fade-animator h-[auto] delay-1 bg-[#ff880000] overflow-hidden w-full rounded-[20px] min-h-[240px] flex flex-col text-center justify-center items-center font-sans">
        <div class="z-[0] h-[40vh] cover mix-blend-multiply saturate-0 w-full" style="mix-blend-mode: multiply;opacity:0.05;background:url('/static/images/bulsu_logo.png');background-size:cover; background-position: center;">
        </div>
        <div class="z-[1] absolute" style="width:80%">
            <div class="dark:white">
                <div class="flex justify-between">
                    <div class="grid grid-flow-col gap-4 items-center">
                        <div class="rounded-full" style="border-radius:100%;background-image: url('{{ user.profile.image.url }}');width:20vh;height:20vh;background-size: cover;"></div>
                        <div class="leading-[1] text-left">
                            <h1 class="font-sans font-bold tracking-[-2px]">{{ user.first_name }} {{ user.last_name }}</h1>
                            <p class="capitalize opacity-50 text-sm mt-[-10px]">{{ user.profile.user_role }}</p>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <div class="flex items-center gap-2 ">
                            <div class="items-center dark:hover:bg-white dark:hover:text-black button-standard border border-[rgba(200,200,200,0.5)] px-2 py-1 rounded-md flex gap-2">
                                <img src="/static/images/add_user.png" class="dark:invert" style="height:14px;width:14px"/>
                                Share
                            </div>
                            <a href="{% url 'user-profile-update' %}" class="items-center button-standard flex main-theme-bg px-3 py-1 rounded-md">
                                Edit
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p class="text-center text-lg font-bold">Posts</p>
        <div class="grid gap-3 grid-cols-3 [&>div]:rounded-md w-full">
            {% for i in "x"|rjust:"3" %}
                <div class="dark:bg-[#363636] bg-[#F4F4F4] p-[10px] animate glow delay-{{forloop.counter}}">
                    <strong> TITLE </strong> <br>
                    DESC
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <p class="text-center text-lg font-bold">Researches</p>
        <div class="grid gap-3 grid-cols-3 [&>div]:rounded-md w-full">
            {% for i in "x"|rjust:"3" %}
                <div class="dark:bg-[#363636] bg-[#F4F4F4] p-[10px] animate glow delay-{{forloop.counter}}">
                    <strong> TITLE </strong> <br>
                    DESC
                </div>
            {% endfor %}
        </div>
    </div>

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} my-2 mx-4" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

</div>
{% endblock %}