{% extends 'partials/base.html' %}
{% block title %}Staff Detail Page{% endblock %}
{% block headers %} STAFF DETAILS {% endblock %}
{% load static %}
{% block content %}
<style>
        body {
            background: #eef1f2;
            overflow-x: hidden;         
        }
</style>

<div style="margin-top: 64px;">
    <!-- NAVIGATION LAYER 1-->
    
    <!-- NAVIGATION LAYER 2 -->
    <nav class="navbar navbar-expand-sm navbar-light bg-white mb-2">
    
        <div class="mx-3" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard-staff' %}"> <img src="{% static 'images/icon_back_btn.png' %}" style="width:13px; height:13px;" alt="Back Button"> Back to Account </a>               
            </li>       
        </ul>
        </div>
    </nav>
    <div class="container-fluid" style="margin-left: 10px;">

            <div class="container">   
                <div class="row my-3">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header bg-info text-white">
                                Staff Detail Page
                            </div>
                            
                            <div class="card-body p-5">
                                <div class="row">
                                    <div class="col-md-4 p-5 d-flex justify-content-center">
                                        <img class="img-thumbnail rounded-circle" src="{{  worker.profile.image.url  }}" alt="" style="width: 300px;height: 300px;">
                                    </div>
                                   
                                    <div class="col-md-8 p-5">
                                        <span class="h3">{{ worker.first_name }} {{ worker.last_name }}</span>
                                        <hr>
                                        <table class="table bg-white table-borderless m-3">
                                            <tbody>
                                                <tr>
                                                    <th scope="row">Username:</th>
                                                    <td>{{ worker.username }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Email:</th>
                                                    <td>{{ worker.email }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Age:</th>
                                                    <td>{{ worker.profile.age }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Phone:</th>
                                                    <td>{{ worker.profile.phone }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">Address:</th>
                                                    <td>{{ worker.profile.address }}</td>
                                                </tr>
                                                <tr>
                                                    <th scope="row">City of Residence:</th>
                                                    <td>{{ worker.profile.city_of_residence }}</td>
                                                </tr>
                                            </tbody>
                                        </table>         
                                    </div>                              
                                </div>                          
                            </div>

                        </div>
                    </div>
            
                </div>
            </div>

    </div>

</div>
{% endblock %}